.col-group
  .col-8.col-offset-1
    .col-content
      = render :partial => "points/header"
      %h2= @point.name
      %p= @point.content_html
      - if logged_in? and params[:action] == 'discussions'
        #new_activities
        = render :partial => "bulletins/form", :locals => {:activity => Activity.new, :comment => Comment.new }
      = will_paginate(@activities)
      #activities
        - for activity in @activities
          = render :partial => "activities/show", :locals => {:activity => activity, :suffix => "_noself" }
        = will_paginate(@activities)
  .col-3
    .col-content
      = render :partial => "revisions/revisions"
