- standard_width = 90
- up_endorser_link = (link_to (idea.up_endorsements_count.to_s).html_safe, idea.show_endorsers_url).html_safe
- down_endorser_link = (link_to (idea.down_endorsements_count.to_s).html_safe, idea.show_opposers_url).html_safe
- up_endorser_link = idea.up_endorsements_count.to_s
- down_endorser_link = idea.down_endorsements_count.to_s

%span{:class => "idea_#{idea.id.to_s}_button_small", :id => "idea_#{idea.id.to_s}_button_small"}
  - unless @geoblocked
    %div{:style => "width:400px;overflow:hidden;"}
    - if endorsement and endorsement.status == 'active'
      - if endorsement.is_up?
        - # ENDORSED STATE
        .endorse_button
          .idea_add{:id => "idea_add_oppose_#{idea.id.to_s}"}
            = link_to tr("ENDORSED", "view/ideas")+" (#{idea.up_endorsements_count})", endorsement_path(endorsement, :region => region, :force_debate_to_new=>force_debate_to_new),     |
              :method => :delete,                                                                |
              :remote=>true,                                                                     |
              'data-disabled-with' => "idea_debate_spinner_endorse_#{idea.id.to_s}",                                                         |
              'data-loader-name' => "external_spinner",                                                     |
              :class => "idea_add_link1",                                                  |
              :title => tr("Remove from my list of ideas", "view/ideas") |
          .idea_debate_spinner{:id => "idea_debate_spinner_endorse_#{idea.id.to_s}"}
        .debate_button{:id=>"debate_button_#{idea.id}"}
          .idea_add
            - if not force_debate_to_new
              %a{:link=>"#", :class => "idea_add_link3"}
                = tr("DEBATE", "view/ideas")
                = "(#{idea.points.count})".html_safe
            - else
              = link_to tr("DEBATE", "view/ideas"), new_idea_point_path(idea)
              = "(#{idea.points.count})".html_safe
            .idea_debate_spinner{:id => "idea_debate_spinner_debate_#{idea.id.to_s}"}
        .oppose_button
          .idea_add{:id => "idea_add_oppose_#{idea.id.to_s}"}
            = link_to tr("OPPOSE", "view/ideas")+" (#{idea.down_endorsements_count})", endorse_idea_path(idea, :referral_id => (@user || nil), :region => region, :value => -1, :force_debate_to_new=>force_debate_to_new), |
                :method => :post,                                                                                                                                        |
                :remote => true,                                                                                                                                         |
                'data-disabled-with' => "idea_debate_spinner_oppose_#{idea.id.to_s}",                                                         |
                'data-loader-name' => "external_spinner",                      |
                :class => "idea_add_link2 oppose_grey", :title =>  tr("I oppose this, and want to add my opposition to my idea list.", "view/ideas")      |
          .idea_debate_spinner{:id => "idea_debate_spinner_oppose_#{idea.id.to_s}"}
      - else
        - # OPPOSED STATE
        .endorse_button
          .idea_add.endorse_grey{:id => "idea_add_endorse_#{idea.id.to_s}"}
            = link_to tr("ENDORSE", "view/ideas")+" (#{idea.up_endorsements_count})", endorse_idea_path(idea, :referral_id => (@user || nil), :region => region, :value => 1, :force_debate_to_new=>force_debate_to_new), |
                :method => :post,                                                                                                                                        |
                :remote => true,                                                                                                                                         |
                'data-disabled-with' => "idea_debate_spinner_endorse_#{idea.id.to_s}",                                                         |
                'data-loader-name' => "external_spinner",                    |
                :class => "idea_add_link1 endorse_grey", :title =>  tr("I support this, add it to my idea list", "view/ideas")                             |
          .idea_debate_spinner{:id => "idea_debate_spinner_endorse_#{idea.id.to_s}"}
        .debate_button{:id=>"debate_button_#{idea.id}"}
          .idea_add
            - if not force_debate_to_new
              %a{:link=>"#", :class => "idea_add_link3"}
                = tr("DEBATE", "view/ideas")
                = "(#{idea.points.count})".html_safe
            - else
              = link_to tr("DEBATE", "view/ideas"), new_idea_point_path(idea)
              = "(#{idea.points.count})".html_safe
            .idea_debate_spinner{:id => "idea_debate_spinner_debate_#{idea.id.to_s}"}
        .oppose_button
          .idea_add{:id => "idea_add_oppose_#{idea.id.to_s}"}
            = link_to tr("OPPOSED", "view/ideas")+" (#{idea.down_endorsements_count})", endorsement_path(endorsement, :region => region, :force_debate_to_new=>force_debate_to_new),     |
              :method => :delete,                                                                |
              :remote=>true,                                                                     |
              'data-disabled-with' => "idea_debate_spinner_oppose_#{idea.id.to_s}",                                                         |
              'data-loader-name' => "external_spinner",                                                   |
              :class => "idea_add_link2",                                                  |
              :title => tr("Remove from my list of ideas", "view/ideas") |
          .idea_debate_spinner{:id => "idea_debate_spinner_oppose_#{idea.id.to_s}"}
    - else
      - # NOT VOTED STATE
      .endorse_button
        .idea_add{:id => "idea_add_endorse_#{idea.id.to_s}"}
          = link_to tr("ENDORSE", "view/ideas")+" (#{idea.up_endorsements_count})", endorse_idea_path(idea, :referral_id => (@user || nil), :region => region, :value => 1, :force_debate_to_new=>force_debate_to_new), |
              :method => :post,                                                                                                                                        |
              :remote => true,                                                                                                                                         |
                'data-disabled-with' => "idea_debate_spinner_endorse_#{idea.id.to_s}",                                                         |
                'data-loader-name' => "external_spinner",                  |
              :class => "idea_add_link1", :title =>  tr("I support this, add it to my idea list", "view/ideas")                             |
        .idea_debate_spinner{:id => "idea_debate_spinner_endorse_#{idea.id.to_s}"}
      .debate_button{:id=>"debate_button_#{idea.id}"}
        .idea_add
          - if not force_debate_to_new
            %a{:link=>"#", :class => "idea_add_link3"}
              = tr("DEBATE", "view/ideas")
              = "(#{idea.points.count})".html_safe
          - else
            = link_to tr("DEBATE", "view/ideas"), new_idea_point_path(idea)
            = "(#{idea.points.count})".html_safe
          .idea_debate_spinner{:id => "idea_debate_spinner_debate_#{idea.id.to_s}"}
      .oppose_button
        .idea_add{:id => "idea_add_oppose_#{idea.id.to_s}"}
          = link_to tr("OPPOSE", "view/ideas")+" (#{idea.down_endorsements_count})", endorse_idea_path(idea, :referral_id => (@user || nil), :region => region, :value => -1, :force_debate_to_new=>force_debate_to_new), |
              :method => :post,                                                                                                                                        |
              :remote => true,                                                                                                                                         |
              'data-disabled-with' => "idea_debate_spinner_oppose_#{idea.id.to_s}",                                                         |
              'data-loader-name' => "external_spinner",                   |
              :class => "idea_add_link2", :title =>  tr("I oppose this, and want to add my opposition to my idea list.", "view/ideas")      |
        .idea_debate_spinner{:id => "idea_debate_spinner_oppose_#{idea.id.to_s}"}
    = render :partial => "ideas/debate_button_javascript", :locals => { :idea => idea } if not force_debate_to_new
