%header#new-idea-header
  %h1 Esita oma argenguidee

#new-idea-form
  = form_for @idea, :html => {:multipart => true} do |f|
    = f.error_messages

    %label Kategooria
    %select(name="idea[category_id]")
      - @categories.each do |category|
        %option{:value => category.id, :selected => @idea.category == category}
          = category.name

    %label
      Idee
      %small <span id="idea-name-countdown"></span> tähte veel ruumi
    = f.text_area :name, :maxlength => 256

    %label
      Kirjeldus
      %small <span id="ideaContentDown"></span> tähte veel ruumi
    = f.text_area :description, :id => "ideaContent", :maxlength => 3000

    %label
      Lisa fail
    = f.file_field :attachment

    %br
    = submit_tag "Esita oma arenguidee"

:javascript
  var e = $("textarea[name='idea[name]']"), el = e[0]
  e.NobleCount('#idea-name-countdown', {
    on_negative: "go_red",
    on_positive: "go_green",
    max_chars: el.getAttribute("maxlength")
  })
