= form_for @idea, :html => {:multipart => true, :id => "idea-form"} do |f|
  = error_summary @idea

  %h2
    %small.countdown
      <strong id="idea-name-countdown"></strong> tähemärki veel järel.
    = t("activerecord.attributes.idea.name")
  = errors_for @idea, :name
  = f.text_field :name, :maxlength => 140, :size => nil

  %h2
    %small.countdown
      <strong id="idea-description-countdown"></strong> tähemärki veel järel.
    = t("activerecord.attributes.idea.description")
  = errors_for @idea, :description
  = f.text_area :description, :maxlength => 500

  %h2
    %small.countdown
      <strong id="idea-text-countdown"></strong> tähemärki veel järel.
    = t("activerecord.attributes.idea.text")
  = errors_for @idea, :text
  = f.text_area :text, :maxlength => 2500

  %h2= t("activerecord.attributes.idea.category")
  %select(name="idea[category_id]")
    - @categories.each do |category|
      %option{:value => category.id, :selected => @idea.category == category}
        = category.name

  %h2= t("activerecord.attributes.idea.attachment")
  %p
    %small Lisa soovi korral ideed kirjeldav pilt või muu tekstidokument.
  = errors_for @idea, :attachment_content_type
  = errors_for @idea, :attachment_file_size
  = f.file_field :attachment

  - if current_user.admin?
    %h2= t("activerecord.attributes.idea.status")
    %label.radio
      = f.radio_button :status, :published
      = t("activerecord.attributes.idea.status_published")
    %label.radio
      = f.radio_button :status, :pending
      = t("activerecord.attributes.idea.status_pending")

  = submit_tag "Esita oma arenguidee"

:javascript
  ;(function() {
    var form = document.getElementById("idea-form")

    var name = form.elements["idea[name]"]
    $(name).NobleCount("#idea-name-countdown", {
      max_chars: name.getAttribute("maxlength")
    })

    var desc = form.elements["idea[description]"]
    $(desc).NobleCount("#idea-description-countdown", {
      max_chars: desc.getAttribute("maxlength")
    })

    var text = form.elements["idea[text]"]
    $(text).NobleCount("#idea-text-countdown", {
      max_chars: text.getAttribute("maxlength")
    })
  })()
