- if @point.nil?
  - against_point = Point.new
  - for_point = Point.new
- else
  - if @point.value == -1
    - against_point = @point
    - for_point = Point.new
  - else
    - for_point = @point
    - against_point = Point.new
- if idea && @idea.nil?
  - @idea = idea
#propArticle
  .profile
    = link_to @idea.user do
      = image_tag @idea.user.buddy_icon(:icon_80)
      %b
        = @idea.user.first_name
        %br>/
        = @idea.user.last_name
    = @idea.published_at.strftime("%d.%m.%Y")
    - if logged_in?
      - if (@idea.user == current_user && @idea.is_editable?) || current_user.is_admin?
        = link_to tr('edit this idea', '/views/ideas'), edit_idea_path(@idea)
  .rightSide
    .head
      %h1= @idea.name
      %p= @idea.description
      .fb-like{"data-font" => "segoe ui", "data-href" => url_for(:controller => :ideas, :action => :show, :id => @idea.to_param, :only_path => false), "data-layout" => "button_count", "data-send" => "true", "data-show-faces" => "true", "data-width" => "450"}
      %div{style: 'float: right;'}= render :partial=>"ideas/report_content", :locals=>{:idea=>@idea}
    .votes{:id => "endorsements_#{@idea.id.to_s}"}= render :partial => 'ideas/debate_buttons', :locals => {:idea => @idea, :region => "idea_detail" }
    -# .left
    -#   = image_tag image_path('thumb-yes.png')
    -#   %span.count= @total_up_points + @idea.up_endorsers.count
    -#   = render :partial => 'shared/rahva_toetan', :locals => {:endorsement => @endorsement, :idea => @idea }
    -# .right
    -#   = image_tag image_path('thumb-no.png')
    -#   %span.count= @total_down_points + @idea.down_endorsers.count
    -#   = render :partial => 'shared/rahva_olen_vastu', :locals => {:endorsement => @endorsement, :idea => @idea }


    .point_form{:id => "support_#{@idea.id.to_s}", :style => (for_point.value == 1  ? 'display: block;' : false)}
      = tr("Why should people support this idea?", "views/ideas/form")
      = form_for [@idea, for_point] do |point_form|
        = point_form.error_messages      
        .field
          .field_box= point_form.text_field :name, :size => 40, :maxlength => 80, :class => "point_field"
          = point_form.hidden_field :value, :value => "1"
        .field
          %span.characters
            %span.form_header
              = tr("Explain your point - ", "view/ideas/_form")
            %span#pointContentDown_for
            = tr("characters left", "view/ideas/_form")
          .field_box= point_form.text_area :content, :id => 'pointContent_for', :button => 'submit', :class=>"point_field", :rows => 5, :maxLength => 1000

        .field
          .field_label= tr("Add a link to an external website", "views/ideas/form")
          .field_box= point_form.text_field :website, :size => 40, :class => "point_field"
        .field
          .field_box.blue= point_form.submit 'Lisan pooltargumendi'
       
    .point_form.against{:id => "oppose_#{@idea.id.to_s}", :style => (against_point.value == -1  ? 'display: block;' : false)}
      = tr("Why should people oppose this idea?", "views/ideas/form")
   
      = form_for [@idea, against_point] do |point_form|
        = point_form.error_messages 
        .field
          .field_box= point_form.text_field :name, :size => 40, :maxlength => 80, :class => "point_field"
          = point_form.hidden_field :value, :value => "-1"
        .field
          %span.characters
            %span.form_header
              = tr("Explain your point - ", "view/ideas/_form")
            %span#pointContentDown_opp
            = tr("characters left", "view/ideas/_form")
          .field_box= point_form.text_area :content, :id => 'pointContent_opp', :button => 'submit', :class=>"point_field", :rows => 5, :maxLength => 1000

        .field
          .field_label= tr("Add a link to an external website", "views/ideas/form")
          .field_box= point_form.text_field :website, :size => 40, :class => "point_field"
        .field
          .field_box= point_form.submit 'Lisan vastuargumendi'   
    .idea_wrapper{:style => "clear: both;"}
      .col-left.clearfix
        = render :partial => "points/short_list", :locals => {:newest_points=>true, :id => "pro_new", :points => @points_top_up, :numbering=>false}
      .col-right
        = render :partial => "points/short_list", :locals => {:points => @points_top_down, :numbering=>false}

-# / .col-group
-# /   .col-1
-# /     .col-content
-# /       %div.sib_left_debate
-# /         = render :partial => "ideas/nav", :locals => {:idea => @idea, :endorsement => @endorsement, :noaction=> defined?(noaction) ? true : false }
-# /   .col-11
-# /     .col-content
-# /       .col-full
-# /         .col-content
-# /           = render :partial => "ideas/idea_status_changelogs"
-# /       .col-half
-# /         .col-content.point_for
-# /           %div
-# /             .header_add
-# /               = render partial: "points_header", locals: { idea: @idea, support: true }
-# /             %div.sub_header
-# /               = tr("Points for", "view/ideas/top_points")
-# /               = get_points_number_text(@points_top_up.length,@total_up_points)
-# /               %span.separator |
-# /               = #link_to(tr("All points for endorse", "view/ideas/top_points"), endorsed_top_points_idea_url(@idea))
-# /             #pro_top
-# /               = render :partial => "points/short_list", :locals => {:id => "pro_top", :points => @points_top_up, :numbering=>true}
-# /           - unless @points_new_up.empty?
-# /             .sub_header
-# /               = tr("Newest Points For", "view/ideas/top_points")
-# /               = get_points_number_text(@points_new_up.length,@total_up_points_new,true)
-# /               %span.separator |
-# /               = link_to(tr("All points for endorse", "view/ideas/top_points"), endorsed_top_points_idea_url(@idea,:by_newest=>true))
-# /             #pro_new
-# /               = render :partial => "points/short_list", :locals => {:newest_points=>true, :id => "pro_new", :points => @points_new_up, :numbering=>false}
-# /       .col-half
-# /         .col-content.point_against
-# /           %div
-# /             .header-add
-# /               = render partial: "points_header", locals: { idea: @idea, support: false }
-# /             .sub_header.pro
-# /               = tr("Points Against", "view/ideas/top_points")
-# /               = get_points_number_text(@points_top_down.length,@total_down_points)
-# /               %span.separator |
-# /               = #link_to(tr("All points for oppose", "view/ideas/top_points"), opposed_top_points_idea_url(@idea))
-# /             #con_top
-# /               = render :partial => "points/short_list", :locals => {:id => "con_top", :points => @points_top_down, :numbering=>true}
-# /             - unless @points_new_down.empty?
-# /               .sub_header
-# /                 = tr("Newest Points Against", "view/ideas/top_points")
-# /                 = get_points_number_text(@points_new_down.length,@total_down_points_new,true)
-# /                 %span.separator |
-# /                 = link_to(tr("All points for oppose", "view/ideas/top_points"), opposed_top_points_idea_url(@idea,:by_newest=>true))
-# /               #con_new
-# /                 = render :partial => "points/short_list", :locals => {:newest_points=>true, :id => "con_new", :points => @points_new_down, :numbering=>false}
-# /     - if request.xhr?
-# /       .col-group
-# /         .col-full
-# /           .col-content
-# /             .more_container
-# /               = link_to tr("More...", "view/ideas/idea_detail"), idea_path(@idea), class: "idea_detail_more"
