= render :partial => "header"
.col-group
  .col-1
    .col-content
      = render :partial => "nav"
  .col-11
    #activities
      - if action_name == 'discussions' and @activities.empty?
        = tr('No discussions yet.', 'view/ideas/activites')
      - for activity in @activities
        = render :partial => "activities/show", :locals => {:activity => activity, :suffix => "_noself"}
    %p
      = will_paginate(@activities)
