- if @point.nil?
  - against_point = Point.new
  - for_point = Point.new
- else
  - if @point.value == -1
    - against_point = @point
    - for_point = Point.new
  - else
    - for_point = @point
    - against_point = Point.new

%article#idea
  %aside
    %a.author{:href => url_for(@idea.author)}
      = image_tag @idea.author.buddy_icon(:icon_80)
      = @idea.author.name

    - published_at = @idea.published_at
    %time{:title => published_at}= time_ago_in_words(published_at) + " tagasi"

    - if current_user && current_user.admin?
      %menu
        %li
          %a{:href => edit_idea_path(@idea)} Muuda ideed

  %header
    %h1= @idea.name

  %section
    = simple_format(@idea.description)
    = simple_format(@idea.text)

  - if @idea.attachment?
    %section.attachments
      %a{:href => @idea.attachment.url}= @idea.attachment_file_name

  = render "endorsements/buttons", {:idea => @idea}
