%article#idea
  %aside
    %a.author{:href => url_for(@idea.author)}
      = image_tag @idea.author.buddy_icon(:icon_80)
      = @idea.author.name

    - published_at = @idea.published_at
    %time{:title => published_at}= time_ago_in_words(published_at) + " tagasi"

    - if current_user && current_user.admin?
      %menu
        %li
          %a{:href => edit_idea_path(@idea)} Muuda
        %li
          %a{:href => url_for(@idea),
            "data-method" => "delete",
            "data-confirm" => t("helpers.confirm.destroy")}
            Kustuta

  %header
    %h1= @idea.name

  %section
    = simple_format(@idea.description)
    = simple_format(@idea.text)

  - if @idea.attachment?
    %section.attachments
      %a{:href => @idea.attachment.url}= @idea.attachment_file_name

  = render "endorsements/buttons", {:idea => @idea}

#idea-points
  .positive#points-up>
    = render :partial => "points/point", :collection => @points_up
    - point = Point.new(:value => 1, :idea => @idea)
    = render :partial => "points/form", :locals => {:point => point}

  .negative#points-down>
    = render :partial => "points/point", :collection => @points_down
    - point = Point.new(:value => -1, :idea => @idea)
    = render :partial => "points/form", :locals => {:point => point}
