- if ideas.any?
  - ideas.each do |idea|
    .idea_list_entry
      .idea_main_content
        .idea_left_wrap
          .head
            = image_tag idea.user.buddy_icon(:icon_40)
            .desc
              %h2
                = link_to idea.name, idea
                %span.red= "(#{idea.points.count})"
              - if @category.nil?
                %h3= idea.category.name
              %span
                = link_to idea.author_sentence, idea.user
                %span.gray= time_ago_in_words(idea.published_at)
          %p= idea.description
        .idea_endorsements
          
          .vote
            .thumb-up= idea.points.published.up_value.count
            = render :partial => 'shared/rahva_toetan', :locals => {:idea => idea, :region => "idea_inline", :endorsement =>  (current_user.nil? ? nil : idea.endorsements.active.find_by_user_id(current_user.id)) }

          .vote
            .thumb-down= idea.points.published.down_value.count
            = render :partial => 'shared/rahva_olen_vastu', :locals => {:idea => idea, :endorsement => (current_user.nil? ? nil : idea.endorsements.active.find_by_user_id(current_user.id)) }
- else
  = tr("No ideas for {tag_name} yet", "view/issues/list", :tag_name => tr(@category.nil? ? @filter : @category.name, "model/category").titleize) 