- if ideas.any?
  - ideas.each do |idea|
    .idea_list_entry
      .idea_main_content
        .idea_left_wrap
          .head
            = image_tag idea.user.buddy_icon(:icon_40)
            .desc
              %h2
                = link_to idea.name, idea
                %span.red= "(#{idea.points.count})"
              - if @category.nil?
                %h3= idea.category.name
              %span
                = link_to idea.author_sentence, idea.user
                %span.gray= time_ago_in_words(idea.published_at)
          %p= truncate_html(simple_format(idea.description), :length => 350)
        .idea_endorsements{:id => "endorsements_#{idea.id}"}= render :partial => 'ideas/debate_buttons', :locals => {:region => "idea_inline", :idea => idea, :endorsements => idea.endorsements}
          



- elsif idea
  .idea_list_entry
  .idea_main_content
    .idea_left_wrap
      .head
        = image_tag idea.user.buddy_icon(:icon_40)
        .desc
          %h2
            = link_to idea.name, idea
            %span.red= "(#{idea.points.count})"
          - if @category.nil?
            %h3= idea.category.name
          %span
            = link_to idea.author_sentence, idea.user
            %span.gray= time_ago_in_words(idea.published_at)
      %p= idea.description
    .idea_endorsements{:id => "endorsements_#{idea.id}"}= render :partial => 'ideas/debate_buttons', :locals => {:region => "idea_inline", :idea => idea, :endorsements => idea.endorsements}
- else
  = tr("No ideas for {tag_name} yet", "view/issues/list", :tag_name => tr( (@category.nil? ? (@filter.nil? ? controller.controller_name : @filter) : @category.name), "model/category").titleize) 