
#text-1.cookieText
  %a.closeButton{:href => "#"} &nbsp;
  %p
    %b Mis on Rahvakogu?
    Kui sa usud, et avalik arutelu on tähtis poliitika osa, siis tule ja mõtle kaasa!
    %br/
    Koos teeme ettepanekud Riigikogule viie olulise seaduse muutmiseks.
    = link_to 'Loe lähemalt', page_path('mis-on-rahvakogu')
/ /cookieText
.filterBar
  .leftSide
    - if @category.nil?
      Kõiki
      = pluralize(@ideas.total_count, "ettepanek") + "."
    - else
      Teemas
      = "\"#{@category.name}\""
      on
      = pluralize(@ideas.total_count, "ettepanek") + "."
      = link_to 'Esita ka!', new_category_idea_path(@category)
  / /leftSide
  .rightSide

    Järjesta
    - if @category.nil?
      = link_to 'aja', newest_ideas_path, :class => (@filter == 'newest' ? :active : false)
      %span.filter_divider= " / "
      = link_to 'toetuse', top_ideas_path, :class => (@filter == 'top' ? :active : false)
      %span.filter_divider= " / "
      = link_to 'vastuhäälte', bottom_ideas_path, :class => (@filter == 'bottom' ? :active : false)
      %span.filter_divider= " / "
      = link_to 'arutelude', controversial_ideas_path, :class => (@filter == 'controversial' ? :active : false)
    - else
      = link_to 'aja', filtered_issue_path(@category, :newest), :class => (@filter == 'newest' ? :active : false)
      %span.filter_divider= " / "
      = link_to 'toetuse', filtered_issue_path(@category, :top), :class => (@filter == 'top' ? :active : false)
      %span.filter_divider= " / "
      = link_to 'vastuhäälte', filtered_issue_path(@category, :bottom), :class => (@filter == 'bottom' ? :active : false)
      %span.filter_divider= " / "
      = link_to 'arutelude', filtered_issue_path(@category, :controversial), :class => (@filter == 'controversial' ? :active : false)
    põhjal.
#propositions
  - if @ideas.any?
    - @ideas.each do |idea|
      %table{:cellpadding => "0", :cellspacing => "0"}
        %tr
          %td{:width => "636"}
            .head
              = image_tag idea.user.buddy_icon(:icon_40)
              .desc
                %h2
                  = link_to idea.name, idea
                  %span.red= "(#{idea.points.count})"
                - if @category.nil?
                  %h3= idea.category.name
                %span
                  = idea.author_sentence
                  %span.gray= time_ago_in_words(idea.published_at)
            %p= idea.description
          %td= raw "&nbsp;"
          %td.vote-td
            .vote
              .thumb-up= idea.points.published.up_value.count
              = render :partial => 'shared/rahva_toetan', :locals => {:idea => idea, :endorsement =>  (current_user.nil? ? nil : idea.endorsements.active.find_by_user_id(current_user.id)) }
          %td.vote-td
            .vote
              .thumb-down= idea.points.published.down_value.count
              = render :partial => 'shared/rahva_olen_vastu', :locals => {:idea => idea, :endorsement => (current_user.nil? ? nil : idea.endorsements.active.find_by_user_id(current_user.id)) }
  - else
    = tr("No ideas for {tag_name} yet", "view/issues/list", :tag_name => tr(@category.nil? ? @filter : @category.name, "model/category").titleize)   
