
#text-1.cookieText
  %a.closeButton{:href => "#"} &nbsp;
  %p
    - if @category.nil? || @category.blue_box_text.blank?
      %b Mis on Rahvakogu?
      Kui sa usud, et avalik arutelu on tähtis poliitika osa, siis tule ja mõtle kaasa!
      %br/
      Koos teeme ettepanekud Riigikogule viie olulise seaduse muutmiseks.
      - if @category.nil? || @category.page.nil?
        = link_to 'Loe lähemalt', page_path('mis-on-rahvakogu')
      - else
        = link_to 'Loe lähemalt', @category.page        
    - else
      = raw @category.blue_box_text
      - if @category.page.nil?
        = link_to 'Loe lähemalt', page_path('mis-on-rahvakogu')
      - else
        = link_to 'Loe lähemalt', @category.page
/ /cookieText
.filterBar
  .leftSide
    - if @category.nil?
      Kõiki
      = pluralize(@ideas.total_pages, "ettepanek") + "."
    - else
      Teemas
      = "\"#{@category.name}\""
      on
      = pluralize(@ideas.total_count, "ettepanek") + "."
      = link_to 'Esita ka!', new_category_idea_path(@category)
  / /leftSide
  .rightSide

    Järjesta
    - if @category.nil?
      = link_to 'aja', newest_ideas_path, :class => (@filter == 'newest' ? :active : false)
      %span.filter_divider= " / "
      = link_to 'toetuse', top_ideas_path, :class => (@filter == 'top' ? :active : false)
      %span.filter_divider= " / "
      = link_to 'vastuhäälte', bottom_ideas_path, :class => (@filter == 'bottom' ? :active : false)
      %span.filter_divider= " / "
      = link_to 'minu', your_ideas_path, :class => (@filter == 'yours' ? :active :false)
      -# = link_to 'arutelude', controversial_ideas_path, :class => (@filter == 'controversial' ? :active : false)
      %span.filter_divider= " / "
      = link_to 'juhuslik', random_ideas_path, :class => (@filter == 'random' ? :active : false)
    - else
      = link_to 'aja', filtered_issue_path(@category, :newest), :class => (@filter == 'newest' ? :active : false)
      %span.filter_divider= " / "
      = link_to 'toetuse', filtered_issue_path(@category, :top), :class => (@filter == 'top' ? :active : false)
      %span.filter_divider= " / "
      = link_to 'vastuhäälte', filtered_issue_path(@category, :bottom), :class => (@filter == 'bottom' ? :active : false)
      %span.filter_divider= " / "
      = link_to 'minu', filtered_issue_path(@category, :yours), :class => (@filter == 'yours' ? :active : false)
      -# = link_to 'arutelude', filtered_issue_path(@category, :controversial), :class => (@filter == 'controversial' ? :active : false)
      %span.filter_divider= " / "
      = link_to 'juhuslik', filtered_issue_path(@category, :random), :class => (@filter == 'random' ? :active : false)
    %span.filter_divider= "  "      
    põhjal.
#propositions= render :partial => 'issues/pageless', :locals => {:ideas  => @ideas}

- unless @ideas.blank?
  = will_paginate @ideas
  - if @category.nil?
    = pageless(@ideas.total_pages, "/ideas/#{@filter}")
  - else
    = pageless(@ideas.total_pages, filtered_issue_path(@category, @filter.to_sym))
#proposal-index= link_to "Tee oma ettepanek", (@category.nil? ? new_idea_path : new_category_idea_path(@category)), :class => :button