- @title = @category.name

%header#ideas-header
  %h1= @category.name

  %menu
    J채rjesta
    %ul
      - id = {:id => @category}
      %li
        - href = url_for_unless_current(id.merge(:action => :show))
        %a(href=href) aja
      %li
        - href = url_for_unless_current(id.merge(:action => :top))
        %a(href=href) toetuste
      %li
        - href = url_for_unless_current(id.merge(:action => :bottom))
        %a(href=href) vastuh채채lte
      %li
        - href = url_for_unless_current(id.merge(:action => :controversial))
        %a(href=href) arutelude
    p천hjal.

#ideas-list= render :partial => "ideas/idea", :collection => @ideas

- unless @ideas.blank?
  - if @category
    - path = filtered_issue_path(@category, @filter.to_sym)
  - else
    - path = "/ideas/#{@filter}"

  = will_paginate @ideas
  = pageless(@ideas.total_pages, path)
