<div class="box-container" style="width: 580px;">
  <h2>Autentimine</h2>

  <div class="authentication box-content">
    <%= form_tag omniauth_authorize_path(resource_name, :mobileid), :id => 'mobileid-check-form', :style => 'display: inline;' do |form| %>
    <%= hidden_field_tag :session_code, @session_code %>
      <div style="float: right;" class="mobileid-code-box">
        Kontrollkood
        <div class="mobileid-code"><%= @challenge_id %></div>
      </div>
      
      <div style="float: left;">
        <div class="status">S천numit saadetakse, palun oodake.</div>
        <p>
          Kontollige, et n채ete mobiiltelefoni ekraanil t채pselt samasugust numbrit.<br/>
          Seej채rel sisestage Mobill-ID PIN 1 kood.
        </p>
        <p><%= link_to 'Katkesta', root_path %></p>
      </div>
    <% end %>
    <div class="clearfix"></div>
  </div>
</div>

<%= javascript_tag do %>
  Rahvakogu.MobileIdCheck.init($('form#mobileid-check-form'));
<%- end %>