- @title = @user.name

%header
  %h1 Muuda profiili

= form_for @user, :html => {:id => "user-form"} do |f|
  = error_summary @user

  - first_name = t("activerecord.attributes.user.first_name")
  - last_name = t("activerecord.attributes.user.last_name")
  %h2 #{first_name} ja #{last_name.downcase}
  = errors_for @user, :first_name
  = errors_for @user, :last_name
  = f.text_field :first_name
  = f.text_field :last_name

  %h2= t("activerecord.attributes.user.email")
  = errors_for @user, :email
  = f.text_field :email

  %h2= t("activerecord.attributes.user.bio")
  %p Nähtav ainult Arenguidee meeskonnale.
  = errors_for @user, :bio
  = f.text_area :bio

  = f.submit "Salvesta"
