.col-group
  .col-2
    .col-content
      = render :partial => "users/profile_pic"
      = render :partial => "users/profile_nav"

  .col-10
    .col-content
      = render :partial => "users/profile_info"

      - unless @ideas.empty?
        %h2= @user.real_name + " tegi  " + (@ideas.count < 2 ? 'järgmise ettepaneku: ' :  'järgmised ettepanekud:') 

      = render :partial => 'ideas/idea', :collection => @ideas
