.col-group
  .col-2
    .col-content
      = render :partial => "users/profile_pic"
      = render :partial => "users/profile_nav"
  .col-10
    .col-content
      = render :partial => "users/profile_info"
      - if @ideas.any?
        %h2= tr("{name} has created {count} ideas", "view/users/show", :name => @user.name, :count => @ideas.length)

        #propositions.users= render :partial => 'issues/pageless', :locals => {:ideas  => @ideas.compact }
        -# - @ideas.each do |idea_endorsement|
        -#   - idea = Idea.unscoped.find(idea_endorsement.idea_id)
        -#   = render :partial=>"ideas/top_level_listing", :locals=>{:idea=>idea, :endorsements=>@endorsements}
        -#   %div{:id => "idea_detail_#{idea.id}"}
        / %h2= tr("Latest Activity","home")
        / - for activity in @activities
        /   = render :partial => "activities/show", :locals => {:activity => activity, :suffix => "_nouser"}
        / - if @activities.total_pages > 1
        /   = will_paginate(@activities, :params => {:action => "activities"} )
