.col-group
  .col-2
    .col-content
      = render :partial => "users/profile_pic"
      = render :partial => "users/profile_nav"

  .col-10
    .col-content
      = render :partial => "users/profile_info"

      - if @ideas.any?
        %h2= tr("{name} has created {count} ideas", "view/users/show", :name => @user.name, :count => @ideas.length)

        #propositions.users
          = render :partial => "ideas/idea", :collection => @ideas
