%h2= tr("Complete registration", "views/registrations/new")

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|

  .profile_picture48
    - if f.object.has_picture?
      %a{:href => picture_settings_url}
        = image_tag f.object.buddy_icon.url(:icon_48), :size => "48x48", :border => 0
    - else
      .field_label= tr("Your profile picture","views/registrations/new" )
      = image_tag("upload_pic.gif", :size => "48x48", :border => 0)
      = f.file_field :buddy_icon
    
      

  %p
    .field_label= tr("Email address", "views/registrations/new")
    = f.email_field :email
  %p
    .field_label= tr("Organisation (optional)", "views/registrations/new")
    = f.text_field :organisation
  %p
    .field_label= tr("Your title", "views/registraions/new")
    = f.text_field :title
  %p
    .field_label= tr("Short biography (max. 500 characters)", "views/registrations/new")
    = f.text_area :bio
  %p
    .field_label= tr("City or town", "views/registrations/new")
    = f.text_field:city
  %p
    .field_label= tr("Your website", "views/registrations/new")
    = f.text_field :website
  %p
    .field_label= tr("Link to your social networking page", "views/registrations/new")
    = f.text_field :social_network_url

  %p
    = f.submit "Sign up"