%h2= tr("Complete registration", "views/registrations/new")
.reg_form
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = f.error_messages
    .left
      .field_label= tr("Your profile picture","views/registrations/new" )
      .profile_picture48
        - if f.object.has_picture?
          %a{:href => picture_settings_url}
            = image_tag f.object.buddy_icon.url(:icon_48), :size => "48x48", :border => 0
        - else
          
          = image_tag("upload_pic.gif", :size => "48x48", :border => 0)
          = f.file_field :buddy_icon
        
          

      %p
        .field_label= tr("Email address", "views/registrations/new")
        = f.email_field :email
      %p
        .field_label= tr("Organisation (optional)", "views/registrations/new")
        = f.text_field :organisation
      %p
        .field_label= tr("Your title", "views/registraions/new")
        = f.text_field :title
    .right
      %p
        .field_label= tr("Short biography (max. 500 characters)", "views/registrations/new")
        = f.text_area :bio, :rows => 4
      %p
        .field_label= tr("Your city", "views/registrations/new")
        = f.text_field:city
      %p
        .field_label= tr("Your website", "views/registrations/new")
        = f.text_field :website
      %p
        .field_label= tr("Link to your social networking page", "views/registrations/new")
        = f.text_field :social_network_url

    = f.submit tr("Sign up", "views/registrations/new")
