#sib_help
  %ul
    %li.menu_header
      = tr("About the site", "view/shared/_menu")
    %li
      \&middot; #{link_to tr("About", "view/shared/_menu"), :controller => "about"}
    %li
      \&middot; #{link_to tr("FAQ", "view/shared/_menu"), :controller => "about", :action => "faq"}
    %li
      \&middot; #{link_to tr("Rules", "view/shared/_menu"), :controller => "about", :action => "rules"}
    %li
      \&middot; #{link_to tr("Privacy policy", "view/shared/_menu"), :controller => "about", :action => "privacy"}
      //%br/
      //\&middot; #{link_to tr("Contributors", "view/shared/_menu"), :controller => "about", :action => "contributors"}
    %li.menu_header.menu_margin
      = tr("Charts and stats", "view/shared/_menu")
      - if current_instance.is_tags?
        %li
          \&middot; #{link_to tr("Active categories","view/shared/_menu"), :controller => "charts", :action => "issues"}
    %li
      \&middot; #{link_to tr("Rising agendas", "view/shared/_menu"), :controller => "charts", :action => "gainers_24hr"}
    %li
      \&middot; #{link_to tr("Falling agendas", "view/shared/_menu"), :controller => "charts", :action => "losers_24hr"}
