- if endorsement and endorsement.status == 'active'
  - if endorsement.is_up?
    - # ENDORSED STATE
    /%span.idea_add{:id => "idea_add_oppose_#{idea.id.to_s}"}
    = protected_link_to tr("OPPOSE", "view/ideas"), endorse_idea_path(idea, :referral_id => (@user || nil), :region => region, :value => -1, :force_debate_to_new=>false), |
      :method => :post,   |
      :remote => true,   |
      'data-disabled-with' => "idea_debate_spinner_oppose_#{idea.id.to_s}",   |
      'data-loader-name' => "external_spinner",  |
      :class => "button red", |
      :title => tr("I oppose this, and want to add my opposition to my idea list.", "view/ideas") 
    .idea_debate_spinner{:id => "idea_debate_spinner_oppose_#{idea.id.to_s}"}
  - else
    - # OPPOSED STATE
    /%span.idea_add{:id => "idea_add_oppose_#{idea.id.to_s}"}
    = protected_link_to tr("OPPOSED", "view/ideas"), endorsement_path(endorsement, :region => region, :force_debate_to_new=> false),     |
      :method => :delete,                                                                |
      :remote=>true,                                                                     |
      'data-disabled-with' => "idea_debate_spinner_oppose_#{idea.id.to_s}",                                                         |
      'data-loader-name' => "external_spinner",                                                   |
      :class => "button red ",                                                  |
      :title => tr("Remove from my list of ideas", "view/ideas") 
    .idea_debate_spinner{:id => "idea_debate_spinner_oppose_#{idea.id.to_s}"} 
- else
  - # NOT VOTED STATE
  /%span.idea_add{:id => "idea_add_oppose_#{idea.id.to_s}"}
  = protected_link_to tr("OPPOSE", "view/ideas"), endorse_idea_path(idea, :referral_id => (@user || nil), :region => region, :value => -1, :force_debate_to_new=> false), |
    :method => :post,   |
    :remote => true,    |
    'data-disabled-with' => "idea_debate_spinner_oppose_#{idea.id.to_s}", |
    'data-loader-name' => "external_spinner",  |
    :class => "button red",
    :title =>  tr("I oppose this, and want to add my opposition to my idea list.", "view/ideas") 
  .idea_debate_spinner{:id => "idea_debate_spinner_oppose_#{idea.id.to_s}"}
- if region == 'idea_detail'
  = protected_link_to tr("Lisan vastuargumendi", "ideas/idea_detail"), '#',  :onClick => '$("#oppose_' + @idea.id.to_s + '").slideToggle();return false;' , :class => :red_text