- if endorsement and endorsement.status == 'active'
  - if endorsement.is_up?
    - # ENDORSED STATE
    %span.idea_add{:id => "idea_add_oppose_#{idea.id.to_s}"}
      = link_to endorse_idea_path(idea, :referral_id => (@user || nil), :region => "idea_inline", :value => -1, :force_debate_to_new=>true), |
        :method => :post,                                                                                                                                        |
        :remote => true,                                                                                                                                         |
        'data-disabled-with' => "idea_debate_spinner_oppose_#{idea.id.to_s}",                                                         |
        'data-loader-name' => "external_spinner",                      |
        :class => "idea_add_link button button red", |
        :title => tr("I oppose this, and want to add my opposition to my idea list.", "view/ideas") do
        = tr("OPPOSE", "view/ideas")
        .idea_debate_spinner{:id => "idea_debate_spinner_oppose_#{idea.id.to_s}"}
  - else
    - # OPPOSED STATE
    %span.idea_add{:id => "idea_add_oppose_#{idea.id.to_s}"}
      = link_to endorsement_path(endorsement, :region => "idea_inline", :force_debate_to_new=> true),     |
        :method => :delete,                                                                |
        :remote=>true,                                                                     |
        'data-disabled-with' => "idea_debate_spinner_oppose_#{idea.id.to_s}",                                                         |
        'data-loader-name' => "external_spinner",                                                   |
        :class => "idea_add_link button red ",                                                  |
        :title => tr("Remove from my list of ideas", "view/ideas") do
        = tr("OPPOSED", "view/ideas")
        .idea_debate_spinner{:id => "idea_debate_spinner_oppose_#{idea.id.to_s}"} X
- else
  - # NOT VOTED STATE
  %span.idea_add{:id => "idea_add_oppose_#{idea.id.to_s}"}
    = link_to endorse_idea_path(idea, :referral_id => (@user || nil), :region => "idea_inline", :value => -1, :force_debate_to_new=> true), |
      :method => :post,   |
      :remote => true,    |
      'data-disabled-with' => "idea_debate_spinner_oppose_#{idea.id.to_s}", |
      'data-loader-name' => "external_spinner",  |
      :class => "idea_add_link button red",
      :title =>  tr("I oppose this, and want to add my opposition to my idea list.", "view/ideas") do
      = tr("OPPOSE", "view/ideas")
      .idea_debate_spinner{:id => "idea_debate_spinner_oppose_#{idea.id.to_s}"}