- if endorsement and endorsement.status == 'active'
  - if endorsement.is_up?
    - # ENDORSED STATE
    -# %span.endorse_button
    -#   .idea_add{:id => "idea_add_oppose_#{idea.id.to_s}"}
    = protected_link_to  endorsement_path(endorsement, :region => region, :force_debate_to_new=> false),     |
      :method => :delete,                                                                |
      :remote=>true,                                                                     |
      'data-disabled-with' => "idea_debate_spinner_endorse_#{idea.id.to_s}",                                                         |
      'data-loader-name' => "external_spinner",                                                     |
      :class => "idea_add_link button",                                                  |
      :title => tr("Remove from my list of ideas", "view/ideas") do
      = tr("ENDORSED", "view/ideas")  
    .idea_debate_spinner{:id => "idea_debate_spinner_endorse_#{idea.id.to_s}"} 
  - else
    - # OPPOSED STATE
    -# %span.idea_add{:id => "idea_add_endorse_#{idea.id.to_s}"}
    = protected_link_to endorse_idea_path(idea, :referral_id => (@user || nil), :region => region, :value => 1, :force_debate_to_new=> false), |
      :method => :post,                                                                                                                                        |
      :remote => true,                                                                                                                                         |
      'data-disabled-with' => "idea_debate_spinner_endorse_#{idea.id.to_s}",                                                         |
      'data-loader-name' => "external_spinner",                    |
      :class => "button", |
      :title =>  tr("I support this, add it to my idea list", "view/ideas") do
      = tr("ENDORSE", "view/ideas")
      .idea_debate_spinner{:id => "idea_debate_spinner_endorse_#{idea.id.to_s}"}
- else
  - # NOT VOTED STATE
  -# %span.idea_add{:id => "idea_add_endorse_#{idea.id.to_s}"}
  = protected_link_to tr("ENDORSE", "view/ideas"), endorse_idea_path(idea, :referral_id => (@user || nil), :region => region, :value => 1, :force_debate_to_new=> false),  |
    :method => :post,           |
    :remote => true, |
    'data-disabled-with' => "idea_debate_spinner_endorse_#{idea.id.to_s}",  |
    'data-loader-name' => "external_spinner",  |
    :class => "button",
    :title =>  tr("I support this, add it to my idea list", "view/ideas") 

  .idea_debate_spinner{:id => "idea_debate_spinner_endorse_#{idea.id.to_s}"}
- if region == 'idea_detail'
  = link_to tr("Lisan pooltargumendi", "ideas/idea_detail"), '#', :onClick => '$("#support_' + @idea.id.to_s + '").slideToggle(); return false;'