= render :partial => "shared/top_banner"
%section#rotator
  .video= link_to image_tag('video.intro.ymarlaud.jpg', :alt => "Presidendi pöördumine"), 'http://vimeo.com/56854479', :rel => :lightbox, :title => "Presidendi pöördumine"
  .quote
    = image_tag('quote.png')
    %span
  / /quote
  .persons
    .item
      .wrapper
        = image_tag('laurisaar.icon.png')
        .description
          %b Riho Laurisaar
          %br/
          ajakirjanik
        / /description
        .text
          Muutused, millele mullu sageli viidati, olid rahva kannatuse katkemine riigivalitsemises valitseva ükskõiksuse suhtes. ning see, et rahvas viitsis ja tahtis avalikult ning isegi piisavalt suure seltskonnana oma rahulolematust välja näidata.
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('marek.tamm.icon.png')
        .description
          %b Marek Tamm
          %br/
          ajaloolane
        / /description
        .text
          Lõppev aasta osutas Eesti parteipoliitilise süsteemi tõsistele tüsistustele ja parteide suutmatusele seda süsteemi sisuliselt reformida. Väga loodan, et uuel aastal õnnestub osalusdemokraatia vormis seda olukorda lahendada.
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('taagepera.icon.jpg')
        .description
          %b Rein Taagepera
          %br/
          politoloog
        .text
          Kui demokraatia on ainult valimisdemokraatia, kus kord nelja aasta tagant antakse hääl, püsib ta väga hapral pinnal.

    .item
      .wrapper
        = image_tag('tarand.icon.jpg')
        .description
          %b Kaarel Tarand
          %br/
          peatoimetaja
        / /description
        .text
          Põhimõtteliselt ei tohiks olla võimatu pakkuda välja ja üles ehitada selline erakondade ja nende väidetavate maailmavaadete rahastamise süsteem, mis efektiivselt välistaks raha ja mandaatide sirgjoonelise seose.
    .item
      .wrapper
        = image_tag('viik.icon.png')
        .description
          %b Tõnu Viik
          %br/
          filosoof
        / /description
        .text
          Kuidas panna tahtma dialoogi pidada seda, kellele tema edu näib sõltuvat tema monoloogist? Selles ongi meie ühiskondlikku elu puudutava debati põhiküsimus.
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('liia.hanni.icon.png')
        .description
          %b Liia Hänni
          %br/
          avatud valitsemise eestvedaja
        .text
          Meil tuleb 20 aastat pärast iseseisvuse taastamist endale tunnistada, et demokraatia alal vajame «järeleaitamistunde», mida keegi teine peale meie enda anda ei saa.
        / /text
      / /wrapper
    / /item
  / /persons
/ /rotator
%section#proposal
  %h1
    Kui sa usud, et arutelu on osa lahendusest, siis tule ja mõtle kaasa! 
    %br/
    Koos teeme ettepanekud Riigikogule oluliste seaduste muutmiseks.

  - @cat[0..(@cat.count-2)].each do |cat|
    .column
      %h2= link_to cat.name, issue_path(cat)
      %p= cat.description
      = link_to pluralize(cat.ideas.count, 'ettepanek')
      - unless cat.activities.empty?
        .latest
          %b= tr("Latest activity")
          .activity_front
            .icon= image_tag cat.activities.first.user.buddy_icon(:icon_24) rescue ''
            .activity= render :partial => "activities/#{cat.activities.first[:type].downcase}", :locals => {:activity => cat.activities.first}


  = protected_link_to "Tee oma ettepanek", new_idea_path, :class => :button
/ /proposal
-# %section#problems
-#   %h1 Põhilised probleemid neis viies teemas:
-#   .people
-#     = link_to 'http://vimeo.com/44974554', :class => :item, :rel => :lightbox do
-#       %span.icon
-#         = image_tag('person-1.png')
-#         %span.play &nbsp;
-#       %span.desc
-#         %b Isiku nimi
-#         %br/
-#         Tegevusala
-#       / /desc
-#     / /item
-#     = link_to 'http://vimeo.com/44974554', :class => :item, :rel => :lightbox do
-#       %span.icon
-#         = image_tag('person-2.png')
-#         %span.play &nbsp;
-#       %span.desc
-#         %b Isiku nimi
-#         %br/
-#         Tegevusala
-#       / /desc
-#     / /item
-#     = link_to 'http://vimeo.com/44974554', :class => :item, :rel => :lightbox do
-#       %span.icon
-#         = image_tag('person-3.png')
-#         %span.play &nbsp;
-#       %span.desc
-#         %b Isiku nimi
-#         %br/
-#         Tegevusala
-#       / /desc
-#     / /item
-#     = link_to 'http://vimeo.com/44974554', :class => :item, :rel => :lightbox do
-#       %span.icon
-#         = image_tag('person-4.png')
-#         %span.play &nbsp;
-#       %span.desc
-#         %b Isiku nimi
-#         %br/
-#         Tegevusala
-#       / /desc
-#     / /item
-#     = link_to 'http://vimeo.com/44974554', :class => :item, :rel => :lightbox do
-#       %span.icon
-#         = image_tag('person-5.png')
-#         %span.play &nbsp;
-#       %span.desc
-#         %b Isiku nimi
-#         %br/
-#         Tegevusala

%section#proposal-bottom
  - if @bottom_ideas.empty?
    No ideas yet.
  - else
    .cycle
      - @bottom_ideas.each do |bi|
        .item
          = link_to bi do
            %h2= "“#{bi.name}”"
            .label
              %span.left Ettepanek
              %span.right
                = bi.author_sentence
                = ","
                %span.gray= l bi.published_at.to_date, :format => :long

  = link_to "Näita kõiki " + pluralize(Idea.published.count, "ettepanek"), ideas_path, :class => "showAll"
:javascript
  $(document).ready(function(){
    $("a[rel^='lightbox']").prettyPhoto({social_tools: ''});
  });