%section#rotator
  .video
    = link_to image_tag('presidendi.intro.png',
      :alt => "Presidendi pöördumine"),
      'http://vimeo.com/56854479',
      :rel => :lightbox,
      :title => "Presidendi pöördumine"

  .quote
    %span

  .persons
    .item
      .wrapper
        .text
          - if @bluebox
            != @blue_box.body
          - else
            Suur aitäh kõigile kes osalesid ja pakkusid välja ideid Eesti
            demokraatia arendamiseks. Veebruari teises pooles hakkame siinsamas
            avalikustama analüütikute ja ekspertide töö tulemusi.

%section#proposal
  - if @grey_box
    != @grey_box.body
  - else
    %h1
    - @categories.each do |category|
      .column
        - path = issue_path(category)
        %h2= link_to category.name, path
        = link_to pluralize(category.ideas.count, 'ettepanek'), path

        - if category.latest_activity
          .latest
            %h3= tr("Viimased sissekanded", "home/index")
            .activity_front
              .activity= render :partial => "activities/#{category.latest_activity[:type].downcase}", :locals => {:activity => category.latest_activity}

%section#proposal-bottom
  - if @bottom_ideas.empty?
    Ühtegi ettepanekut ei ole
  - else
    .cycle
      - @bottom_ideas.each do |bi|
        .item
          = link_to bi do
            %h2= "“#{bi.name}”"
            .label
              %span.left Ettepanek
              %span.right
                = bi.author_sentence
                = ","
                %span.gray= l bi.published_at.to_date, :format => :long

  = link_to "Näita kõiki " + pluralize(Idea.published.count, "ettepanek"), newest_ideas_path, :class => "showAll"
:javascript
  $(document).ready(function(){
    $("a[rel^='lightbox']").prettyPhoto({social_tools: ''});
  });
