%header#home-header
  %h1 Arenguideede konkurss

%section#home-banner
  %a(href="http://vimeo.com/56854479" rel="lightbox")
    = image_tag("presidendi.intro.png")
  :javascript
    $("a[rel=lightbox]").prettyPhoto({social_tools: ""})

  %p
    Arengufondi eesmärk on toetada positiivseid muutusi Eesti majanduses
    investeerimistegevuse, arenguseire- ja kasvuprogrammide kaudu.

#home-ideas
  %section#home-new-idea
    %a.button.primary(href=new_idea_path) Esita oma arenguidee

  %section#home-categories
    %h2 Teemad
    %ul
      - @categories.each do |category|
        %li.category
          %a{:href => issue_path(category)}
            = category.name
            %small= category.ideas.count

  %section#home-popular-ideas
    %h2 Populaarsemad ideed
    %ol
      - @ideas.each do |idea|
        %li
          %a.category{:href => issue_path(idea.category)}= idea.category.name
          %a.idea{:href => idea_path(idea)}
            = idea.name
            %small #{idea.score}

  %section#home-outcome
    %div
      %p
        Enim vastukaja saanud ideed lähevad arutamisele Arenguideede
        konverentsil 21. aprillil 2014 Linnahallis.
      %a(href="#") Loe lähemalt

%section#home-highlights
  - if !@highlights.empty?
    %ul
      - @highlights.each do |idea|
        %li
          %blockquote= idea.name
          %a{:href => idea_path(idea)}
            %em> Ettepanek
            %span>
              = idea.author_sentence + ","
              %time= l(idea.published_at.to_date, :format => :long)

    :javascript
      $("#home-highlights ul").cycle({interval: 8000})

  %a.show-all(href=newest_ideas_path)
    Näita kõiki
    = pluralize(Idea.published.count, "ettepanek")
