= render :partial => "shared/top_banner"
%section#rotator
  .video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "240", :src => "http://www.youtube.com/embed/dwravVF3keM?feature=player_detailpage", :width => "420"}
  / /video
  .quote
    = image_tag('quote.png')
    %span
  / /quote
  .persons
    .item
      .wrapper
        = image_tag('person-1.png')
        .description
          %b Isiku Nimi
          %br/
          Ta teeb midagi huvitavat
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
          Parlamendi valimised keskenduksid rohkem kui varasemad Euroopa teemadele.
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('person-2.png')
        .description
          %b Isiku Nimi
          %br/
          Ta teeb ka midagi huvitavat
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('person-3.png')
        .description
          %b Isiku Nimi
          %br/
          Mina ka.. Mina ka
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
          Parlamendi valimised keskenduksid rohkem kui varasemad Euroopa teemadele.
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('person-4.png')
        .description
          %b Isiku Nimi
          %br/
          Aga mina?
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('person-5.png')
        .description
          %b Isiku Nimi
          %br/
          Ta teeb midagi huvitavat
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
          Parlamendi valimised keskenduksid rohkem kui varasemad Euroopa teemadele.
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('person-6.png')
        .description
          %b Isiku Nimi
          %br/
          Ta teeb midagi huvitavat
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
        / /text
      / /wrapper
    / /item
  / /persons
/ /rotator
%section#proposal
  %h1
    Kui sa usud, et avalik arutelu on tähtis poliitika osa, siis tule ja mõtle kaasa!
    %br/
    Koos teeme ettepanekud Riigikogule viie olulise seaduse muutmiseks.
  .column
    %h2= link_to 'RAHASTAMINE', issue_path('rahastamine')
    %p= @cat.select{|x| x.slug == 'rahastamine'}.first.description
    = link_to pluralize(@cat.select{|x| x.slug == 'rahastamine'}.first.ideas.count, 'ettepanek')

  .column
    %h2= link_to 'KONKURENTS', issue_path('konkurents')
    %p= @cat.select{|x| x.slug == 'konkurents'}.first.description
    = link_to pluralize(@cat.select{|x| x.slug == 'konkurents'}.first.ideas.count, 'ettepanek')
  / /column
  .column
    %h2= link_to 'MINU HÄÄL', issue_path('minu-haal')
    %p= @cat.select{|x| x.slug == 'minu-haal'}.first.description
    = link_to pluralize(@cat.select{|x| x.slug == 'minu-haal'}.first.ideas.count, 'ettepanek')

  / /column
  .column
    %h2= link_to 'KAASATUS', issue_path('kaasatus')
    %p= @cat.select{|x| x.slug == 'kaasatus'}.first.description
    = link_to pluralize(@cat.select{|x| x.slug == 'kaasatus'}.first.ideas.count, 'ettepanek')
  / /column
  .column.last-child
    %h2= link_to ' SUNDPOLITI- SEERIMINE', issue_path('sunpolitseerimine')
    %p= @cat.select{|x| x.slug == 'sunpolitseerimine'}.first.description
    = link_to pluralize(@cat.select{|x| x.slug == 'sunpolitseerimine'}.first.ideas.count, 'ettepanek')
  / /column
  = link_to "Tee oma ettepanek", new_idea_path, :class => :button
/ /proposal
%section#problems
  %h1 Põhilised probleemid neis viies teemas:
  .people
    %a.item{:href => ""}
      %span.icon
        = image_tag('person-1.png')
        %span.play &nbsp;
      %span.desc
        %b Isiku nimi
        %br/
        Tegevusala
      / /desc
    / /item
    %a.item{:href => ""}
      %span.icon
        = image_tag('person-2.png')
        %span.play &nbsp;
      %span.desc
        %b Isiku nimi
        %br/
        Tegevusala
      / /desc
    / /item
    %a.item{:href => ""}
      %span.icon
        = image_tag('person-3.png')
        %span.play &nbsp;
      %span.desc
        %b Isiku nimi
        %br/
        Tegevusala
      / /desc
    / /item
    %a.item{:href => ""}
      %span.icon
        = image_tag('person-4.png')
        %span.play &nbsp;
      %span.desc
        %b Isiku nimi
        %br/
        Tegevusala
      / /desc
    / /item
    %a.item{:href => ""}
      %span.icon
        = image_tag('person-5.png')
        %span.play &nbsp;
      %span.desc
        %b Isiku nimi
        %br/
        Tegevusala
      / /desc
    / /item
  / /people
/ /problems
%section#proposal-bottom
  - if @bottom_idea.empty?
    No ideas yet.
  - else
    %h2
      = "“#{@bottom_idea.first.name}”"
  .label
    %span.left Ettepanek
    %span.right
      = @bottom_idea.first.author_sentence
      = ","
      %span.gray= l @bottom_idea.first.published_at.to_date, :format => :long
  / /label
  %br/
  = link_to "Näita kõiki " + pluralize(Idea.published.count, "ettepanek"), ideas_path, :class => "showAll"
