= render :partial => "shared/top_banner"
%section#rotator
  .video= link_to image_tag('ilves_front.png'), 'http://www.youtube.com/watch?v=dwravVF3keM', :rel => :lightbox
  .quote
    = image_tag('quote.png')
    %span
  / /quote
  .persons
    .item
      .wrapper
        = image_tag('person-1.png')
        .description
          %b Isiku Nimi
          %br/
          Ta teeb midagi huvitavat
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
          Parlamendi valimised keskenduksid rohkem kui varasemad Euroopa teemadele.
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('person-2.png')
        .description
          %b Isiku Nimi
          %br/
          Ta teeb ka midagi huvitavat
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('person-3.png')
        .description
          %b Isiku Nimi
          %br/
          Mina ka.. Mina ka
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
          Parlamendi valimised keskenduksid rohkem kui varasemad Euroopa teemadele.
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('person-4.png')
        .description
          %b Isiku Nimi
          %br/
          Aga mina?
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('person-5.png')
        .description
          %b Isiku Nimi
          %br/
          Ta teeb midagi huvitavat
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
          Parlamendi valimised keskenduksid rohkem kui varasemad Euroopa teemadele.
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('person-6.png')
        .description
          %b Isiku Nimi
          %br/
          Ta teeb midagi huvitavat
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
        / /text
      / /wrapper
    / /item
  / /persons
/ /rotator
%section#proposal
  %h1
    Kui sa usud, et avalik arutelu on tähtis poliitika osa, siis tule ja mõtle kaasa!
    %br/
    Koos teeme ettepanekud Riigikogule viie olulise seaduse muutmiseks.
  - @cat[0..(@cat.count-2)].each do |cat|
    .column
      %h2= link_to cat.name, issue_path(cat)
      %p= cat.description
      = link_to pluralize(cat.ideas.count, 'ettepanek')


  = protected_link_to "Tee oma ettepanek", new_idea_path, :class => :button
/ /proposal
%section#problems
  %h1 Põhilised probleemid neis viies teemas:
  .people
    = link_to 'http://vimeo.com/44974554', :class => :item, :rel => :lightbox do
      %span.icon
        = image_tag('person-1.png')
        %span.play &nbsp;
      %span.desc
        %b Isiku nimi
        %br/
        Tegevusala
      / /desc
    / /item
    = link_to 'http://vimeo.com/44974554', :class => :item, :rel => :lightbox do
      %span.icon
        = image_tag('person-2.png')
        %span.play &nbsp;
      %span.desc
        %b Isiku nimi
        %br/
        Tegevusala
      / /desc
    / /item
    = link_to 'http://vimeo.com/44974554', :class => :item, :rel => :lightbox do
      %span.icon
        = image_tag('person-3.png')
        %span.play &nbsp;
      %span.desc
        %b Isiku nimi
        %br/
        Tegevusala
      / /desc
    / /item
    = link_to 'http://vimeo.com/44974554', :class => :item, :rel => :lightbox do
      %span.icon
        = image_tag('person-4.png')
        %span.play &nbsp;
      %span.desc
        %b Isiku nimi
        %br/
        Tegevusala
      / /desc
    / /item
    = link_to 'http://vimeo.com/44974554', :class => :item, :rel => :lightbox do
      %span.icon
        = image_tag('person-5.png')
        %span.play &nbsp;
      %span.desc
        %b Isiku nimi
        %br/
        Tegevusala

%section#proposal-bottom
  - if @bottom_ideas.empty?
    No ideas yet.
  - else
    .cycle
      - @bottom_ideas.each do |bi|
        .item
          = link_to bi do
            %h2= "“#{bi.name}”"
            .label
              %span.left Ettepanek
              %span.right
                = bi.author_sentence
                = ","
                %span.gray= l bi.published_at.to_date, :format => :long

  = link_to "Näita kõiki " + pluralize(Idea.published.count, "ettepanek"), ideas_path, :class => "showAll"
:javascript
  $(document).ready(function(){
    $("a[rel^='lightbox']").prettyPhoto();
  });