
%section#rotator
  .video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "240", :src => "http://www.youtube.com/embed/dwravVF3keM?feature=player_detailpage", :width => "420"}
  / /video
  .quote
    = image_tag('quote.png')
    %span
  / /quote
  .persons
    .item
      .wrapper
        = image_tag('person-1.png')
        .description
          %b Isiku Nimi
          %br/
          Ta teeb midagi huvitavat
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
          Parlamendi valimised keskenduksid rohkem kui varasemad Euroopa teemadele.
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('person-2.png')
        .description
          %b Isiku Nimi
          %br/
          Ta teeb ka midagi huvitavat
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('person-3.png')
        .description
          %b Isiku Nimi
          %br/
          Mina ka.. Mina ka
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
          Parlamendi valimised keskenduksid rohkem kui varasemad Euroopa teemadele.
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('person-4.png')
        .description
          %b Isiku Nimi
          %br/
          Aga mina?
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('person-5.png')
        .description
          %b Isiku Nimi
          %br/
          Ta teeb midagi huvitavat
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
          Parlamendi valimised keskenduksid rohkem kui varasemad Euroopa teemadele.
        / /text
      / /wrapper
    / /item
    .item
      .wrapper
        = image_tag('person-6.png')
        .description
          %b Isiku Nimi
          %br/
          Ta teeb midagi huvitavat
        / /description
        .text
          Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
        / /text
      / /wrapper
    / /item
  / /persons
/ /rotator
%section#proposal
  %h1
    Kui sa usud, et avalik arutelu on tähtis poliitika osa, siis tule ja mõtle kaasa!
    %br/
    Koos teeme ettepanekud Riigikogule viie olulise seaduse muutmiseks.
  .column
    %h2 RAHASTAMINE
    %p Erakondade rahastamise ausus ja kontrollitavus, raha  mõjuvõimu kahandamine poliitilises otsuseprotsessis.
    %a{:href => ""} 321 ettepanekut
  / /column
  .column
    %h2 KONKURENTS
    %p Erakondadevahelise ja -sisese konkurentsi ausus ja elavus.
    %a{:href => ""} 321 ettepanekut
  / /column
  .column
    %h2 MINU HÄÄL
    %p Valija hääle kaalukus valimistulemuse otsustamisel.
    %a{:href => ""} 321 ettepanekut
  / /column
  .column
    %h2 KAASATUS
    %p Kodanike aus kaasatus ja laialdasem osalemine poliitilises protsessis valimistevahelisel ajal.
    %a{:href => ""} 321 ettepanekut
  / /column
  .column.last-child
    %h2 SUNDPOLITI- SEERIMINE
    %p Ühiskondliku ruumi (sund)politiseerimise ja -parteistamise pidurdamine.
    %a{:href => ""} 321 ettepanekut
  / /column
  %a.button{:href => ""} Tee oma ettepanek
/ /proposal
%section#problems
  %h1 Põhilised probleemid neis viies teemas:
  .people
    %a.item{:href => ""}
      %span.icon
        = image_tag('person-1.png')
        %span.play &nbsp;
      %span.desc
        %b Isiku nimi
        %br/
        Tegevusala
      / /desc
    / /item
    %a.item{:href => ""}
      %span.icon
        = image_tag('person-2.png')
        %span.play &nbsp;
      %span.desc
        %b Isiku nimi
        %br/
        Tegevusala
      / /desc
    / /item
    %a.item{:href => ""}
      %span.icon
        = image_tag('person-3.png')
        %span.play &nbsp;
      %span.desc
        %b Isiku nimi
        %br/
        Tegevusala
      / /desc
    / /item
    %a.item{:href => ""}
      %span.icon
        = image_tag('person-4.png')
        %span.play &nbsp;
      %span.desc
        %b Isiku nimi
        %br/
        Tegevusala
      / /desc
    / /item
    %a.item{:href => ""}
      %span.icon
        = image_tag('person-5.png')
        %span.play &nbsp;
      %span.desc
        %b Isiku nimi
        %br/
        Tegevusala
      / /desc
    / /item
  / /people
/ /problems
%section#proposal-bottom
  %h2
    “Lubada Läti ja Vene ettevõtetele erakondade avalikku
    %br>/
    ja salajast rahastamist kasvõi kohe.”
  .label
    %span.left Ettepanek
    %span.right
      Sten Tamkivi,
      %span.gray 20. jaanuar 2013
  / /label
  %br/
  %a.showAll{:href => ""} Näita kõiki 3,102 ettepanekut
/ /proposal-bottom
/ /container
/ /outerContainer
/ :javascript
/   $(function(){
/   	$('.move_test').replaceWith($('.category'));
/   	$('.replace_fblike').replaceWith($('.fblike'));
/   	$('.replace_report').replaceWith($('.report1'));
/   	$('.replace_notice').replaceWith($('.single .warning_inline2'));
/     var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
/     po.src = 'https://apis.google.com/js/plusone.js';
/     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
/   });
/ - if @new_ideas.any?
/   %div.home_welcome
/     %h1.home_h1
/       = tr("New Ideas","home")
/     - @new_ideas.each do |idea|
/       = render :partial=>"ideas/top_level_listing", :locals=>{:idea=>idea, :endorsements=>@endorsements}
/       %div
/         %div{:id => "idea_detail_#{idea.id}"}
/ - else
/   .home_welcome
/     %h2= tr("No idea has been created for {country}", 'home', country: tr(SubInstance.current.name,"welcome"))
/ - if @top_ideas.any?
/   %div.home_welcome{:style=>"margin-top: 10px; padding-top: 10px;"}
/     %h1.home_h1
/       = tr("&nbsp;","home")
/     %h1.home_h1
/       = tr("Top Ideas","home")
/     - @top_ideas.each do |idea|
/       = render :partial=>"ideas/top_level_listing", :locals=>{:idea=>idea, :endorsements=>@endorsements}
/       %div
/         %div{:id => "idea_detail_#{idea.id}"}
/ - if @random_ideas.any?
/   %br
/   %br
/   %div.home_welcome
/     %h1.home_h1
/       = tr("&nbsp;","home")
/     %h1
/       = tr("Random Ideas","home")
/     - @random_ideas.each do |idea|
/       = render :partial=>"ideas/top_level_listing", :locals=>{:idea=>idea, :endorsements=>@endorsements}
/       %div
/         %div{:id => "idea_detail_#{idea.id}"}
/ - unless @activities.blank?
/   %div.home_welcome
/     %br
/     %h1.home_h1
/       = tr("&nbsp;","home")
/     %h1
/       = tr("Latest Activity","home")
/     %ul#endless_scroll_ul.list{:last => @activities.to_a.last.changed_at}
/       = render :template => 'feed/activity_list_simple'
/       #infinite-scroll
/       .endless_scroll_inner_wrap
=======

%section#outerContainer
  #container
    %header#header
      %a.logo{:href => ""}
        %img{:alt => "Rahvakogu", :src => "static/imgs/logo.png"}/
      %nav#mainMenu
        %a.active{:href => ""} RAHASTAMINE
        %a{:href => ""} KONKURENTS
        %a{:href => ""} MINU HÄÄL
        %a{:href => ""} KAASATUS
        %a{:href => ""} SUNDPOLITISEERIMINE
      / /mainMenu
      %a.logIn{:href => ""} Sisene
    / /header
    %section#rotator
      .video
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "240", :src => "http://www.youtube.com/embed/ykwqXuMPsoc?feature=player_detailpage", :width => "420"}
      / /video
      .quote
        %img{:src => "static/imgs/quote.png"}/
        %span
      / /quote
      .persons
        .item
          .wrapper
            %img{:src => "static/imgs/person-1.png"}/
            .description
              %b Isiku Nimi
              %br/
              Ta teeb midagi huvitavat
            / /description
            .text
              Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
              Parlamendi valimised keskenduksid rohkem kui varasemad Euroopa teemadele.
            / /text
          / /wrapper
        / /item
        .item
          .wrapper
            %img{:src => "static/imgs/person-2.png"}/
            .description
              %b Isiku Nimi
              %br/
              Ta teeb ka midagi huvitavat
            / /description
            .text
              Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
            / /text
          / /wrapper
        / /item
        .item
          .wrapper
            %img{:src => "static/imgs/person-3.png"}/
            .description
              %b Isiku Nimi
              %br/
              Mina ka.. Mina ka
            / /description
            .text
              Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
              Parlamendi valimised keskenduksid rohkem kui varasemad Euroopa teemadele.
            / /text
          / /wrapper
        / /item
        .item
          .wrapper
            %img{:src => "static/imgs/person-4.png"}/
            .description
              %b Isiku Nimi
              %br/
              Aga mina?
            / /description
            .text
              Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
            / /text
          / /wrapper
        / /item
        .item
          .wrapper
            %img{:src => "static/imgs/person-5.png"}/
            .description
              %b Isiku Nimi
              %br/
              Ta teeb midagi huvitavat
            / /description
            .text
              Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
              Parlamendi valimised keskenduksid rohkem kui varasemad Euroopa teemadele.
            / /text
          / /wrapper
        / /item
        .item
          .wrapper
            %img{:src => "static/imgs/person-6.png"}/
            .description
              %b Isiku Nimi
              %br/
              Ta teeb midagi huvitavat
            / /description
            .text
              Euroopa Liidu poliitilised liidrid soovivad, et 2014. aasta Euroopa
            / /text
          / /wrapper
        / /item
      / /persons
    / /rotator
    %section#proposal
      %h1
        Kui sa usud, et avalik arutelu on tähtis poliitika osa, siis tule ja mõtle kaasa!
        %br/
        Koos teeme ettepanekud Riigikogule viie olulise seaduse muutmiseks.
      .column
        %h2 RAHASTAMINE
        %p Erakondade rahastamise ausus ja kontrollitavus, raha  mõjuvõimu kahandamine poliitilises otsuseprotsessis.
        %a{:href => ""} 321 ettepanekut
      / /column
      .column
        %h2 KONKURENTS
        %p Erakondadevahelise ja -sisese konkurentsi ausus ja elavus.
        %a{:href => ""} 321 ettepanekut
      / /column
      .column
        %h2 MINU HÄÄL
        %p Valija hääle kaalukus valimistulemuse otsustamisel.
        %a{:href => ""} 321 ettepanekut
      / /column
      .column
        %h2 KAASATUS
        %p Kodanike aus kaasatus ja laialdasem osalemine poliitilises protsessis valimistevahelisel ajal.
        %a{:href => ""} 321 ettepanekut
      / /column
      .column.last-child
        %h2 SUNDPOLITI- SEERIMINE
        %p Ühiskondliku ruumi (sund)politiseerimise ja -parteistamise pidurdamine.
        %a{:href => ""} 321 ettepanekut
      / /column
      %a.button{:href => ""} Tee oma ettepanek
    / /proposal
    %section#problems
      %h1 Põhilised probleemid neis viies teemas:
      .people
        %a.item{:href => ""}
          %span.icon
            %img{:src => "static/imgs/person-1.png"}/
            %span.play &nbsp;
          %span.desc
            %b Isiku nimi
            %br/
            Tegevusala
          / /desc
        / /item
        %a.item{:href => ""}
          %span.icon
            %img{:src => "static/imgs/person-2.png"}/
            %span.play &nbsp;
          %span.desc
            %b Isiku nimi
            %br/
            Tegevusala
          / /desc
        / /item
        %a.item{:href => ""}
          %span.icon
            %img{:src => "static/imgs/person-3.png"}/
            %span.play &nbsp;
          %span.desc
            %b Isiku nimi
            %br/
            Tegevusala
          / /desc
        / /item
        %a.item{:href => ""}
          %span.icon
            %img{:src => "static/imgs/person-4.png"}/
            %span.play &nbsp;
          %span.desc
            %b Isiku nimi
            %br/
            Tegevusala
          / /desc
        / /item
        %a.item{:href => ""}
          %span.icon
            %img{:src => "static/imgs/person-5.png"}/
            %span.play &nbsp;
          %span.desc
            %b Isiku nimi
            %br/
            Tegevusala
          / /desc
        / /item
      / /people
    / /problems
    %section#proposal-bottom
      %h2
        “Lubada Läti ja Vene ettevõtetele erakondade avalikku
        %br>/
        ja salajast rahastamist kasvõi kohe.”
      .label
        %span.left Ettepanek
        %span.right
          Sten Tamkivi,
          %span.gray 20. jaanuar 2013
      / /label
      %br/
      %a.showAll{:href => ""} Näita kõiki 3,102 ettepanekut
    / /proposal-bottom
  / /container
/ /outerContainer
%footer#footer
  .inline
    .leftSide
      .line
        %b.item Eesti Koostöökogu
        %a.item{:href => ""} Info
        %a.item{:href => ""} Kontakt
        %a.item{:href => ""} Koostöö kogu
        %a.item{:href => ""} Tegijad
      / /line
      .line
        Roheline aas 5 Tallinn 10150&nbsp;&nbsp;&nbsp;&nbsp;Telefon: 693 8330&nbsp;&nbsp;&nbsp;&nbsp;Fax: 693 8331&nbsp;&nbsp;&nbsp;&nbsp;E-mail:
        %a{:href => "mailto:info@kogu.ee"} info@kogu.ee
      / /line
    / /leftSide
    .rightSide
      Siia facebok like!
    / /rightSide
  / /inline
/ /footer
/
  Google Analytics

:javascript
  $(function(){
  	$('.move_test').replaceWith($('.category'));
  	$('.replace_fblike').replaceWith($('.fblike'));
  	$('.replace_report').replaceWith($('.report1'));
  	$('.replace_notice').replaceWith($('.single .warning_inline2'));
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  });
- if @new_ideas.any?
  %div.home_welcome
    %h1.home_h1
      = tr("New Ideas","home")
    - @new_ideas.each do |idea|
      = render :partial=>"ideas/top_level_listing", :locals=>{:idea=>idea, :endorsements=>@endorsements}
      %div
        %div{:id => "idea_detail_#{idea.id}"}
- else
  .home_welcome
    %h2= tr("No idea has been created for {country}", 'home', country: tr(SubInstance.current.name,"welcome"))
- if @top_ideas.any?
  %div.home_welcome{:style=>"margin-top: 10px; padding-top: 10px;"}
    %h1.home_h1
      = tr("&nbsp;","home")
    %h1.home_h1
      = tr("Top Ideas","home")
    - @top_ideas.each do |idea|
      = render :partial=>"ideas/top_level_listing", :locals=>{:idea=>idea, :endorsements=>@endorsements}
      %div
        %div{:id => "idea_detail_#{idea.id}"}
- if @random_ideas.any?
  %br
  %br
  %div.home_welcome
    %h1.home_h1
      = tr("&nbsp;","home")
    %h1
      = tr("Random Ideas","home")
    - @random_ideas.each do |idea|
      = render :partial=>"ideas/top_level_listing", :locals=>{:idea=>idea, :endorsements=>@endorsements}
      %div
        %div{:id => "idea_detail_#{idea.id}"}
- unless @activities.blank?
  %div.home_welcome
    %br
    %h1.home_h1
      = tr("&nbsp;","home")
    %h1
      = tr("Latest Activity","home")
    %ul#endless_scroll_ul.list{:last => @activities.to_a.last.changed_at}
      = render :template => 'feed/activity_list_simple'
      #infinite-scroll
      .endless_scroll_inner_wrap
>>>>>>> master
