- html = {:multipart => true, :id => "page-form"}
= form_for @page, :html => html do |f|
  = error_summary @page

  %h2= t("activerecord.attributes.page.title")
  = errors_for @page, :title
  = f.text_field :title

  %h2= t("activerecord.attributes.page.body")
  = errors_for @page, :body
  = f.text_area :body

  %h2= t("activerecord.attributes.page.slug")
  %p
    Kui soovid lehele anda kindla aadressi, sisesta see siia. Vaikimisi luuakse
    aadress lehe pealkirjast.
  = f.text_field :slug

  %h2 Staatus
  %label.checkbox
    = f.check_box :published
    = t("activerecord.attributes.page.published")

  = f.submit
