.page 
  .page_title= @page.title

  .page_left= raw @page.body
  .page_sidebar
    - if @page.category.nil?
      %b= tr("Latest activity", "pages/show")
      - acts = Activity.where('user_id is not null').by_recently_created.limit(6)
      - link = new_idea_path
    - else
      %b= tr("Latest activity in {category_name}", "pages/show", :category_name => @page.category.name )
      - acts = @page.category.activities.select{|x| !x.user_id.nil?}[0..5]
      - link = new_category_idea_path(@page.category)
    - acts.each do |activity|
      .page_activity.clearfix
        .person= image_tag activity.user.buddy_icon(:icon_40)
        .activity= render :partial => "activities/#{activity[:type].downcase}", :locals => {:activity => activity}  
    #proposal-index= link_to "Tee oma ettepanek", link , :class => :button