.col-group
  .col-10.col-offset-1
    .col-content
      #infopage
        %h1= tr("Introduction", "view/about/introduction")
        %br/
        %p= tr("We believe that a free and open Internet can bring about a better world. To keep the Internet free and open, we call on communities, industries and countries to recognize these principles. We believe that they will help to bring about more creativity, more innovation and more open societies.", "view/about/introduction")
        %br/
        %p= tr("We are joining an international movement to defend our freedoms because we believe that they are worth fighting for.", "view/about/introduction")
        %br/
        %p= tr("Let’s discuss these principles — agree or disagree with them, debate them, translate them, make them your own and broaden the discussion with your community — as only the Internet can make possible.", "view/about/introduction")
        %br/
        %p= tr("Join us in keeping the Internet free and open.", "view/about/introduction")
