%h2 Do not rest until all are green-underlined Estonian phrases!
.field_label=tr("You must sign in to participate in Rahvakogu", "views/layout/applicaton")
.field_label=tr('Access denied', 'ideas')
.field_label=tr("You cannot delete an idea once there are arguments for/against it.", "ideas")
.field_label=tr('You cannot delete your idea after one hour has passed.', "ideas") 
.field_label= tr("Permanently deleting {idea_name}. This may take a few minutes depending on how many endorsements/oppositions need to be removed.", "controller/ideas", :idea_name => "IDEA NAME")
.field_label= tr("User","search")
.field_label= tr("{name} has created {count} ideas", "view/users/show", :name => "USER", :count => 332)
.field_label= tr('You have already suggested an idea of this name.', "ideas")
.field_label= tr('You have already made this argument.', "points")
.field_label= tr('Edit your argument', 'points')
.field_label
  if you try to edit a point that is not yours (by URL params): 
  = tr("Access denied", "controller/points")
.field_label= tr("Saved {point_name}", "controller/points", :point_name => "POINT NAME")
.field_label= tr('You must be logged in to do this.')
.field_label= tr('Error loading argument', "points")
.field_label= tr('Edit this argument. Because you are an admin', "points")
.field_label=tr('Remove this argument', "points")
.field_label=tr('Remove your argument', "points")
.field_label= tr('Edit your argument. You have one hour to make changes from creation time.', "points")
.field_label=tr("We're sorry, the search engine is temporary unavailable. Please try again in a few moments", "search")
.field_label= tr("Bottom ideas", "controller/ideas")
.field_label= tr("Logged out. Please come again soon.", "controller/sessions")
.field_label= tr("Save idea", "view/ideas/edit")
.field_label= tr("All","search")
.field_label=tr("Everything","search")
.field_label= tr("No search results","search")
.field_label=tr("Show","search")
.field_label= tr("Comment","search")
.field_label=tr("Followers", "view/users/_profile_nav")
.field_label
  profile page title
  =tr("{user_name} at {instance_name}", "controller/users", :user_name => 'USERNAME', :instance_name => tr(current_instance.name,"Name from database")) 
.field_label= tr("Remove this person from your network", "view/users/_button_small")
.field_label=tr("Stop ignoring this person", "view/users/_button_small") 
.field_label=tr("Following", "view/users/_button_small")
.field_label=tr("Ignoring", "view/users/_button_small")
.field_label=tr("Follow", "view/users/_button_small")
.field_label=tr("Ignore", "view/users/_button_small")
.field_label=tr("I want to ignore this person's comments and activity", "view/users/_button_small")
.field_label=tr("I want to follow this person's comments and activity", "view/users/_button_small")      
.field_label= tr("All users at {sub_instance_name}", "controller/network", :sub_instance_name => tr(current_sub_instance.name,"Name from database"))
.field_label= tr("New idea at {sub_instance_name}", "controller/ideas", :sub_instance_name => tr(current_sub_instance.name,"Name from database"))
.field_label= tr("has a maximum of 3000 characters", "model/idea")
.field_label= tr("please enter more than -1 characters", "model/idea")
.field_label= tr("please enter more than 5 characters", "model/idea")
.field_label= tr("has a maximum of 80 characters", "model/idea")
.field_label= tr("No discussions.", "widget")
.field_label= tr("Follow this discussion", "view/activities/_button")
.field_label= tr("I want to follow this person's comments and activity", "view/activities/_button")
.field_label= tr("Delete from this page?","Ajax")
.field_label= tr("Show", "view/activities/_show")
.field_label= tr("Editing comment", "controller/comments")
.field_label= tr("Saved comment", "controller/comments")
.field_label= tr("That comment was deleted", "controller/comments")
.field_label= tr("Thanks for flagging comment", "controller/comments")
.field_label= tr("Send comment", "view/comments/_new_inline")
.field_label=  tr("Sending","Ajax")
.field_label= tr("You can also get all your notifications in an {rss_url}", "view/settings/signups", :rss_url => "RSS URL")
.field_label= tr("Save email settings", "view/settings/signups")

.field_label
  subject line of email:
  =tr("Weekly", 'email')

.field_label
  subject line of email:
  =tr("Monthly", 'email')
.field_label=tr("which you support", "email")
.field_label=tr("which you oppose", "email")
.field_label=tr('The status of the idea "{idea}" has been changed', "email", :idea => "IDEA NAME HERE")
.field_label= tr("Post comment", "view/comments/new")
.field_label= tr('You just gained {points} social point(s) at {instance_name}', "email", points: 9, :instance_name => tr(Instance.current.name,"Name from database"))
.field_label= tr('You just lost {points} social point(s) at {instance_name}', "email", points: 3, :instance_name => tr(Instance.current.name,"Name from database"))
.field_label= tr("Are you sure you want to sign in as {user_name}? Be careful!", "view/users/_profile_nav", :user_name =>' HENRI')
.field_label= tr("If you make {user_name} an administrator, they will have the same privileges as you, and you will NOT be able to remove those privileges.", "view/users/_profile_nav", :user_name => "HENRI")
.field_label= tr("Complete registration", "views/registrations/new")
.field_label= tr("Your {instance_name} settings", "controller/settings", :instance_name => tr(current_instance.name,"Name from database"))
.field_label= tr("Submit your idea and point", "view/ideas/_form")
.field_label= tr("Save settings", "view/users/edit")
.field_label= tr("Your profile picture","views/registrations/new" )
.field_label= tr("Email address", "views/registrations/new")
.field_label= tr("Organisation (optional)", "views/registrations/new")
.field_label= tr("Your title", "views/registraions/new")
.field_label= tr("Short biography (max. 500 characters)", "views/registrations/new")
.field_label= tr("City or town", "views/registrations/new")
.field_label= tr("Your website", "views/registrations/new")
.field_label= tr("Link to your social networking page", "views/registrations/new")
.field_label= tr("Your city", "views/registrations/new")
.field_label=tr("Sign up", "views/registrations/new")
.field_label
  not yet endorsed (toetan?): 
  =tr("ENDORSE", "view/ideas")
.field_label
  already endorsed by you:
  = tr("ENDORSED", "view/ideas")  
.field_label=tr("Remove from my list of ideas", "view/ideas") 
.field_label=tr("I oppose this, and want to add my opposition to my idea list.", "view/ideas") 
.field_label=tr("OPPOSE", "view/ideas")
.field_label=tr("I oppose this, and want to add my opposition to my idea list.")
.field_label=tr("OPPOSED", "view/ideas")
flagging content:
.field_label=tr("Clear flag", "view/ideas/_flagged") 
.field_label=tr("Issue warning", "view/ideas/_flagged")
.field_label=tr("Issue {user_name} warning {warnings_count}", "view/ideas/_flagged", :user_name => "USER NAME", :warnings_count => "NUMBER OF WARNINGS")
.field_label=tr("{count} endorsers", "view/ideas/_endorser_link", :count => "A NUMBER OF")
.field_label
.field_label=tr("This idea moved up {count} spots in the rankings this month", "view/ideas/_rank_week_month", :count => 3)
.field_label=tr("This idea moved down {count} spots in the rankings this week", "view/ideas/_rank_week_month", :count => 3)
.field_label=tr("This idea hasn't moved up or down in the rankings at all this month.", "view/ideas/_rank_week_month")
.field_label=tr("This is the {position} highest ranked idea across all {instance_name} members.", "view/ideas/_rank_week_month", :position => "3rd", :instance_name => tr(current_instance.name,"Name from database"))
.field_label=tr("Idea overview", "view/ideas/_nav")
.field_label=tr("New point", "view/ideas/_nav")
.field_label=tr("Can you make a compelling point for or against this idea in less than 1000 characters?", "view/ideas/_nav")
.field_label=tr("Discussions", "view/ideas/_nav")
.field_label=tr("{count} discussions", "view/ideas/_nav", :count => 3)
.field_label=tr("Feed", "view/ideas/_nav")
.field_label=tr("Are you sure you want to permanently delete {idea_name}?", "view/ideas/_nav", :idea_name => "NAME OF IDEA")
.field_label=tr("Permanently delete this idea", "view/ideas/_nav")
.field_label=tr("Report", "view/comments/_show")   
.field_label=tr("Is this idea from {user_name} a personal attack or a violation of the rules?", "view/comments/_show", :user_name => 'HENRI LAUPMAA')
.field_label=tr("Top ideas", "controller/ideas")
.field_label=tr("Ideas you should consider", "controller/ideas", :sub_instance_name => tr(current_sub_instance.name,"Name from database"))
.field_label=tr("Your ideas in progress at {sub_instance_name}", "controller/ideas", :sub_instance_name => tr(current_sub_instance.name,"Name from database"))
.field_label=tr("Ideas you created at {sub_instance_name}", "controller/ideas", :sub_instance_name => tr(current_sub_instance.name,"Name from database"))
.field_label=tr("Your ideas at {sub_instance_name}", "controller/ideas", :sub_instance_name => tr(current_sub_instance.name,"Name from database"))
.field_label=tr("Your ideas ranked highest by {sub_instance_name} members", "controller/ideas", :sub_instance_name => tr(current_sub_instance.name,"Name from database"))
.field_label=tr("Your ideas ranked lowest by {sub_instance_name} members", "controller/ideas", :sub_instance_name => tr(current_sub_instance.name,"Name from database"))
.field_label=tr("Top ideas past 24 hours", "controller/ideas")
.field_label=tr("Top ideas past 7 days", "controller/ideas")
.field_label=tr("Top ideas past 30 days", "controller/ideas")
.field_label=tr("Ideas rising in the rankings", "controller/ideas")
.field_label=tr("Ideas falling in the rankings", "controller/ideas")
.field_label=tr("Most controversial ideas", "controller/ideas")
.field_label=tr("Become a sub_instance", "view/sub_instances/new")
.field_label=tr("Must be a gif, jpg or png", "view/sub_instances/picture")
.field_label=tr("Points opposing {idea_name}", "controller/ideas", :idea_name => "IDEA")
.field_label=tr("Points supporting {idea_name}", "controller/ideas", :idea_name => "IDEA")
.field_label=tr("{number} people opposed {idea_name}", "controller/ideas", :idea_name => "IDEA", :number =>24)
.field_label=tr("Best points on {idea_name}", "controller/ideas", :idea_name => "IDEA")
.field_label=tr("New idea at {sub_instance_name}", "controller/ideas", :sub_instance_name => tr(current_sub_instance.name,"Name from database"))
.field_label=tr("Edit {idea_name}", "controller/ideas", :idea_name => "idea name")
.field_label=tr("You cannot change a idea's name once other people have endorsed it.", "controller/ideas")

.field_label=tr("Thanks for adding {idea_name}", "controller/ideas", :idea_name => "idea name")
.field_label=tr("Random ideas", "controller/ideas")
.field_label=tr("Newest ideas", "controller/ideas")

.field_label=tr("Recently revised ideas", "controller/ideas", :sub_instance_name => tr(current_sub_instance.name,"Name from database"))

.field_label=tr("Untagged (or uncategorized) ideas", "controller/ideas")

.field_label=tr("Ideas you should consider", "controller/ideas", :sub_instance_name => tr(current_sub_instance.name,"Name from database"))

.field_label=tr("{official_user_name} ideas", "controller/ideas", :sub_instance_name => tr(current_sub_instance.name,"Name from database"), :official_user_name => "JOHN'S")

.field_label=tr("Categories", "controller/issues")

.field_label=tr("What people are saying right now about {tag_name}", "controller/issues", :tag_name => 'RAHASTAMINE')

.field_label=tr("Discussions on {tag_name}", "controller/issues", :tag_name => 'RAHASTAMINE')
.field_label=tr("That {tags_name} doesn't exist anymore", "controller/issues", :tags_name => current_instance.tags_name)
.field_label=tr("Most talkative at {sub_instance_name}", "controller/network", :sub_instance_name => tr(current_sub_instance.name,"Name from database"))
.field_label=tr("Ambassadors at {sub_instance_name}", "controller/network", :sub_instance_name => tr(current_sub_instance.name,"Name from database"))
.field_label=tr("New members at {sub_instance_name}", "controller/network", :sub_instance_name => tr(current_sub_instance.name,"Name from database"))
.field_label=tr("Influential", "view/network/_nav")
.field_label=tr("Talkative", "view/network/_nav")
.field_label=tr("New members", "view/network/_nav")
.field_label=tr("Ambassadors", "view/network/_nav")
.field_label=tr("Meet the most influential people at {sub_instance_name}", "controller/network", :sub_instance_name => tr(current_sub_instance.name,"Name from database"))
.field_label=tr("Your network", "view/user_contacts/_nav")
.field_label=tr("People you're following at {sub_instance_name}", "controller/contacts", :sub_instance_name => tr(current_sub_instance.name,"Name from database"))