!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "Wiseman Interactive Oü  www.wiseman.ee", :name => "Author"}/
    %link{:href => "/static/imgs/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/


    %link{:href => "/assets/imgs/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/

    %title
      Rahvakogu
      - unless @page_title.nil?
        = "| " +  @page_title 


    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title
    - if current_instance.favicon.present?
      = favicon_link_tag(current_instance.favicon.url(:icon_full))
    = render :partial => "shared/description"
    = render :partial => "shared/head"
    = render :partial => "shared/javascripts"
    
    = render :partial => "shared/css"
    - if Rails.env.production?
      = render :partial => "shared/analytics"
    - if controller_name == "ideas" and action_name == "show"
      = render :partial=>"ideas/fb_og_tags"
    = tr8n_scripts_tag
    = csrf_meta_tag

  %body
    #fb-root

    %section#topBar
      .inline
        %a.active{:href => ""}
          %b> Ettepanekute kogumine
          Jaanuar 2013
        %span.arrow &nbsp;
        %a{:href => ""}
          %b> Analüüs
          Veebruar 2013
        %span.arrow &nbsp;
        %a{:href => ""}
          %b> Arutelupäev
          Märts 2013
        %span.arrow &nbsp;
        %a{:href => ""}
          %b> Seadusemuudatused
          Aprill 2013
        #search_box= render :partial => 'shared/search'            
        .languages
          = link_to image_tag('in_russian.png'), page_path('what-is-rahvakogu')
          = link_to image_tag('in_english.png'), page_path('what-is-rahvakogu')

    %section#outerContainer
      - unless controller.controller_name == 'home'
        = render :partial => "shared/top_banner"
      - unless logged_in?
        #login_overlay
          = tr("You must sign in to participate in Rahvakogu", "views/layout/applicaton")
          = form_tag omniauth_authorize_path(:user, :idcard), :style => 'display: inline;' do
            = hidden_field_tag :after_target
            %p
              = image_submit_tag('idcard.gif', :class => 'id-card-img')
              
          = image_tag 'mobileid.gif'      
          = form_tag omniauth_authorize_path(:user, :mobileid), :style => 'display: inline;' do
            %br
            %label Telefon
            = text_field_tag :phone, nil, :class => 'textbox', :autocomplete => :off
            = submit_tag 'Sisene', :class => 'btn btn-blue btn-small'        
      #container= yield

    %footer#footer
      .inline
        .leftSide= raw @footer.body

        .rightSide

          .fb-like-box{"data-header" => "false", "data-height" => "62", "data-href" => "http://www.facebook.com/Rahvakogu", "data-show-faces" => "false", "data-color-scheme" => "dark",  "data-stream" => "false", "data-width" => "292", "data-border-color" => "#333"}

