!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="initial-scale=1")
    %title Arenguidee #{@page_title}
    = csrf_meta_tag

    = render :partial => "shared/description"
    = render :partial => "shared/javascripts"
    = render :partial => "shared/css"

    - if typekit = Rahvakogu.config["typekit"]
      %script(src="//use.typekit.com/#{typekit}.js")
      %script try{Typekit.load();}catch(e){}

    - if Rails.env.production?
      = render :partial => "shared/analytics"

    - if controller_name == "ideas" and action_name == "show"
      = render :partial=>"ideas/fb_og_tags"

  %body
    #main
      %header#header
        - if current_user
          = render :partial => "shared/user_info"
          = render :partial => "shared/notifications"
          %a.account Konto
        - else
          %a.signin(href=new_user_session_path) Logi sisse

        %h1
          %a(href=root_path) Arenguideede konkurss

      #flash
        - [:warning, :notice, :alert, :error].each do |type|
          - if flash[type]
            %p(class=type)= flash[type]

      = yield

    #fb-root
    :javascript
      $("#header a.account").click(function() { $("#sib_profile").toggle() })

      $(document).mouseup(function(ev) {
        if ($(ev.target).parent("a.account").length) return
        $("#sib_profile").hide()
      })

      $("#sib_profile").mouseup(function() { return false })
