!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "Rahvakogu / Koostöö kogu", :name => "Author"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/




    %title
      Rahvakogu
      - unless @page_title.nil?
        = "| " +  @page_title 


    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

    = render :partial => "shared/description"
    = render :partial => "shared/head"
    = render :partial => "shared/javascripts"
    
    = render :partial => "shared/css"
    - if Rails.env.production?
      = render :partial => "shared/analytics"
    - if controller_name == "ideas" and action_name == "show"
      = render :partial=>"ideas/fb_og_tags"
    - if logged_in?
      - if current_user.is_admin?
        = tr8n_scripts_tag
    = csrf_meta_tag

  %body{:class => (controller.controller_name == 'home' && controller.action_name == 'index') ? :frontpage : false}
    #fb-root
    - if controller.controller_name == 'ideas' && controller.action_name == 'show'
      :javascript  
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/et_EE/all.js#xfbml=1&appId=420406054695129";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    %section#topBar
      .inline

        = link_to page_path('ajakava') do
          %b> Ettepanekute kogumine
          Jaanuar 2013
        %span.arrow &nbsp;
        = link_to page_path('ajakava')  do
          %b> Analüüs
          Veebruar 2013
        %span.arrow &nbsp;
        = link_to page_path('ajakava') do
          %b> Arutelupäev
          Aprill 2013
        %span.arrow &nbsp;
        = link_to page_path('ajakava'), :class => :active do
          %b> Seadusemuudatused
          Aprill 2013
        #search_box= render :partial => 'shared/search'            
        .languages
          = link_to 'RU', page_path(6) 
          = link_to 'EN', page_path('what-is-rahvakogu')

    %section#outerContainer
      - unless controller.controller_name == 'home'
        = render :partial => "shared/top_banner"
      - unless logged_in?
        #login_overlay
          %p Suur aitäh kõigile kes osalesid ja pakkusid välja ideid Eesti demokraatia arendamiseks.
          %p Veebruari teises pooles hakkame siinsamas avalikustama analüütikute ja ekspertide töö tulemusi.
          %input{:type => "submit", :id=>"CloseButton", :onclick=>"$('.close').click();return false;", :value => "Sulge", :title => "Sulge"}
          -# #login-idcard
          -#   #header
          -#     =tr("You must sign in to participate in Rahvakogu", "views/layout/applicaton")
          -#     = form_tag omniauth_authorize_path(:user, :idcard) do
          -#       = hidden_field_tag :after_target
          -#       = submit_tag 'Sisene ID-kaardiga', :class => 'btn btn-blue btn-small'        
          -# #login-mobileid      
          -#   = form_tag omniauth_authorize_path(:user, :mobileid) do
          -#     %label Mobiiltelefoni number
          -#     = text_field_tag :phone, nil, :class => 'textbox', :autocomplete => :off, :size => 15
          -#    = submit_tag 'Sisene Mobiil-IDga', :class => 'btn btn-blue btn-small'      
      .flash= flash_div :warning, :notice, :error
      #container.clearfix= yield
