!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="initial-scale=1")
    %title #{@title and @title + " - "} Arenguidee
    = csrf_meta_tag

    = stylesheet_link_tag "application"
    = render :partial => "shared/description"
    = render :partial => "shared/javascripts"

    - if typekit = Arenguidee.config["typekit"]
      %script(src="//use.typekit.com/#{typekit}.js")
      %script try { Typekit.load() } catch (ex) {}

    - if Rails.env.production?
      = render :partial => "shared/analytics"

    - if controller_name == "ideas" and action_name == "show"
      = render :partial=>"ideas/fb_og_tags"

  %body{:class => params[:controller].tr("/", "-")}
    #main
      %nav#nav
        %center
          - href = current_user ? url_for(current_user) : new_user_session_path
          - text = current_user ? current_user.real_name : "Logi sisse"
          %a#user-menu-button.account(href=href)= text

          - menu = current_user ? "users/sessions/menu" : "users/sessions/form"
          %menu#user-menu(style="display: none")= render :partial => menu

          %h1 <a href="/">Arenguideede konkurss</a>

      #flash
        %center
          - [:warning, :notice, :alert, :error].each do |type|
            -# Don't intentionally show set, yet empty messages. Devise
            -# will still set empty translation strings.
            - if flash[type].present?
              %p(class=type)= flash[type]

      = content_for :main
      %center= yield

    %footer#footer
      %center
        %strong Eesti Arengufond
        %nav
          %a{:href => page_path("info")} Info
          %a{:href => page_path("contact")} Kontakt
          %a{:href => page_path("team")} Tegijad

        %small
          Rotermanni 8, 10111 Tallinn   
          Telefon: 616 1100   
          E-mail: <a href="mailto:info@arengufond.ee">info@arengufond.ee</a>

    #fb-root
