!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="initial-scale=1")
    %title Arenguidee #{@page_title}
    = csrf_meta_tag

    = render :partial => "shared/description"
    = render :partial => "shared/head"
    = render :partial => "shared/javascripts"
    = render :partial => "shared/css"

    - if Rails.env.production?
      = render :partial => "shared/analytics"

    - if controller_name == "ideas" and action_name == "show"
      = render :partial=>"ideas/fb_og_tags"

  %body
    #main
      = render :partial => "shared/header"
      .flash= flash_div :warning, :notice, :alert, :error
      = yield

    #fb-root
