!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="initial-scale=1")
    %title Arenguidee #{@page_title}
    = csrf_meta_tag

    = render :partial => "shared/description"
    = render :partial => "shared/javascripts"
    = render :partial => "shared/css"

    - if typekit = Rahvakogu.config["typekit"]
      %script(src="//use.typekit.com/#{typekit}.js")
      %script try{Typekit.load();}catch(e){}

    - if Rails.env.production?
      = render :partial => "shared/analytics"

    - if controller_name == "ideas" and action_name == "show"
      = render :partial=>"ideas/fb_og_tags"

  %body
    %main
      %nav#nav
        %center
          - if current_user
            = render :partial => "shared/user_info"
            = render :partial => "shared/notifications"
            %a.account Konto
          - else
            %a.signin(href=new_user_session_path) Logi sisse

          - unless current_page?(:controller => "home", :action => "index")
            %h1 <a href="/">Arenguideede konkurss</a>

      #flash
        %center
          - [:warning, :notice, :alert, :error].each do |type|
            - if flash[type]
              %p(class=type)= flash[type]

      %center= yield

    %footer#footer
      %center
        %strong Eesti Arengufond
        %nav
          %a Info
          %a Kontakt
          %a Koostöö kogu
          %a Tegijad

        %small
          Roheline aas 5, 10337 Tallinn   
          Telefon: 693 8330   
          E-mail: <a href="mailto:eureka@arenguidee.ee">eureka@arenguidee.ee</a>

    #fb-root
    :javascript
      $("#nav a.account").click(function() { $("#sib_profile").toggle() })

      $(document).mouseup(function(ev) {
        if ($(ev.target).parent("a.account").length) return
        $("#sib_profile").hide()
      })

      $("#sib_profile").mouseup(function() { return false })
